{% from 'components/meta/attributes.html' import attributes %}

{# Call-only macros #}
{% macro desc_list() %}
  <dl {{ attributes("desc-list", **kwargs) }}>{{ caller() }}</dl>
{% endmacro %}

{% macro desc_section() %}
  <div {{ attributes("desc-list__section", **kwargs) }}>{{ caller() }}</div>
{% endmacro %}

{% macro desc_term() %}
  <dt {{ attributes("desc-list__term", **kwargs) }}>{{ caller() }}</dt>
{% endmacro %}

{% macro desc_details() %}
  <dd {{ attributes("desc-list__details", **kwargs) }}>{{ caller() }}</dd>
{% endmacro %}
