download_path = '/storage'

# database info
database_host = 'kemono-db'
database_dbname = 'kemonodb'
database_user = 'nano'
database_password = 'shinonome'

redis_host = 'kemono-redis'
redis_port = 6379

# proxies = ["socks5://user:pass@host:port"]
proxies = []

# BAN url prefix (for varnish purging and the like)
# ban_url = 'http://10.0.0.1:8313'
ban_url = ''

# public encryption key for key contribution and autoimport
# generate one with `openssl genrsa -out privatekey.txt 4096 && openssl rsa -in privatekey.txt -pubout -out publickey && cat publickey`
# as seen above, it is highly recommended you use 4096bit keys... session tokens can get too long for 2048 quite easily.
pubkey = """
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvEuPOaLW77ymMTMWSzNz
VqC+/DI7EWI7v3zaLBydH0gVN3FqMlRYOvUYu65K92oM1SYcj2b7sQLbbyEjYLCp
w3/vc7X5mnFeFghMmN/51ttygV/rmJ8c9TioVOUIphJP6J86AG2MLipUueIZagtf
2kkzDX544MHbEiJo/LRGjykKtnjMcAH0D4FWZJMPH7P+beI/duLR4pq7bzGOAHEV
SWTgeHC7MHwoBoMbq03t0R2TjEeShMJKek1dmtiuJ/U0pLdA5wLG2jEcfjI4OZ48
w10P3DPqRrcH0Q1wHM2zlGEua1LEhPpnUi+xoRXHO1G1m3j3AEXsBZ+JPb7j8c6k
pQ6IF6VI8dLpBJN5lfKrJXSV8Ui4TZQ0/DPa3z+U+9tekpf3/F2CVhcyMl/nURGo
UvfNUNtw7MkR+bV1exPIFpLjOVma0yr2FE3/54ZJrsaf7NG0ONdUgtaSCinxldrA
jMKkn749YzjgtTj4qbsrKMSONUtw+LWXiJvgP4s9v1s03m7BUZ7lWBcBFAXAexOx
P76veTBuTQWYFoZfAeTRIqKGdW6lWHHVlYyeK7+HBYUQ59uwmp4vZ1nO1yGlefqz
sVoQGSPVJWdVNVU/rAlyrBVjxJ2ZM54jkdlefd4DRZhLz3JQ6k3PBF40vnL7CYxW
XxJRiGbXlDkdqYhAgA2AyTcCAwEAAQ==
"""

# (static) salt for autoimport key hashing. you should change this once and keep it safe.
salt = "lolololololololol"
