download_path = '/storage'

# database info
database_host = 'kemono-db'
database_dbname = 'kemonodb'
database_user = 'nano'
database_password = 'shinonome'

redis_host = 'kemono-redis'
redis_port = 6379

# proxies = ["socks5://user:pass@host:port"]
proxies = []

# BAN url prefix (for varnish purging and the like)
# ban_url = 'http://10.0.0.1:8313'
ban_url = ''