astroid==2.4.2
autopep8==1.6.0
awesome-slugify==1.6.5
backports.entry-points-selectable==1.1.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.5
cfgv==3.3.1
chardet==3.0.4
click==7.1.2
cloudscraper==1.2.48
colorama==0.4.4
distlib==0.3.3
feedgen==0.9.0
filelock==3.3.2
flake8==4.0.1
Flask==2.0.1
Flask-Caching==1.9.0
greenlet==1.1.2
gunicorn==20.1.0
humanize==4.1.0
identify==2.3.3
idna==2.10
isort==5.6.4
itsdangerous==2.0.0
Jinja2==3.0.0
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==2.0.0rc2
mccabe==0.6.1
migra==3.0.1652017683
natsort==7.1.1
nodeenv==1.6.0
packaging==20.7
Pillow==8.0.1
platformdirs==2.4.0
pre-commit==2.15.0
psycopg2==2.8.6
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycparser==2.20
pyflakes==2.4.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
python-redis-lock==3.7.0
python-redis-rate-limit==0.0.7
python-resumable==0.1.2
pytz==2021.1
PyYAML==6.0
rb==1.9.0
redis==3.4.1
regex==2020.11.13
requests==2.25.0
requests-toolbelt==0.9.1
schemainspect==3.1.1652015119
sentry-sdk==1.4.3
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.4.36
sqlbag==0.1.1617247075
sqlparse==0.4.1
tabulate==0.8.7
text-unidecode==1.3
toml==0.10.2
tomlkit==0.10.2
tusker==0.4.5
typed-ast==1.4.1
ujson==4.0.2
Unidecode==0.4.21
urllib3==1.26.2
virtualenv==20.10.0
webencodings==0.5.1
Werkzeug==2.0.0
wrapt==1.12.1
