{% extends 'account/administrator/shell.html' %}

{% from 'components/timestamp.html' import timestamp %}

{% block content %}
<section class="site-section site-section--admin-account-info">
  <header class="site-section__header">
    <h1 class="site-section__heading">
      Account information for {{ props.account.username }} ({{ props.account.id }})
    </h1>
  </header>
  <dl>
    <div>
      <dt>Created:</dt>
      <dd>
        {{ timestamp(props.account.created_at) }}
      </dd>
    </div>
  </dl>
</section>
{% endblock content %}
