<div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-3 card-container">
  {% if post['file'].path and post['file'].path|lower|regex_match("\.(gif|jpe?g|png|webp)$") %}
    <div class="card">
      <style>
        #toggle-{{ post.id }}:checked ~ .card-reveal {
          display: block;
          animation-name: fadeInOpacity;
	        animation-iteration-count: 1;
	        animation-timing-function: ease-in;
	        animation-duration: 100ms;
        }
      </style>
      <div class="card-image">
        <label for="toggle-{{ post.id }}">
          <img src="/thumbnail{{ post['file'].path|replace('https://kemono.party', '') }}" loading="lazy">
        </label>
      </div>
      <input type="checkbox" class="visually-hidden" id="toggle-{{ post.id }}">
      <div class="card-content">
        <label for="toggle-{{ post.id }}" class="card-title" style="cursor:pointer;">{{ post.title }}</label>
        <br>
        {% if post.published %}
          <label for="toggle-{{ post.id }}" class="subtitle" style="cursor:pointer;">{{ post.published }}</label>
        {% endif %}
      </div>
      <div class="card-reveal">
        <div class="card-reveal-content">
          {% include 'components/post_view.html' %}
        </div>
      </div>
      <div class="card-action">
        <a target="_blank" href="{{ post['file'].path|replace('https://kemono.party', '') }}">POST IMAGE</a>
        <a target="_blank" href="/{{ post['service'] }}/user/{{ post['user'] }}/post/{{ post['id'] }}">VIEW POST</a>
      </div>
    </div>
  {% else %}
    <div class="text-card">
      <div class="card-reveal-content">
        {% set post_link_in_title = true %}
        {% include 'components/post_view.html' %}
      </div>
    </div>
  {% endif %}
</div>