<ul class="header">
  <li><a href="/">[Home]</a></li>
  <li><a href="/artists">[Artists]</a></li>
  <li><a href="/artists/updated">[Recently Updated Artists]</a></li>
  <li><a href="/posts">[Recent Posts]</a></li>
  <li><a href="/importer">[Import]</a></li>
  <li><a href="/requests">[Requests]</a></li>
  {% if is_logged_in() %}
    <li><a href="{{ url_for('favorites.list') }}">[Favorites]</a></li>
    <!-- <li {{ 'class="current-page"'|safe if props.currentPage == 'help' }}><a href="{{ url_for('account.get_account') }}">Account</a></li> -->
    <li><a href="{{ url_for('account.logout') }}">[Logout]</a></li>
  {% else %}
     <li><a href="{{ url_for('account.get_login') }}">[Login]</a></li>
  {% endif %}
</ul>