<ul class="header">
  <li {{ 'class="current-page"'|safe if props.currentPage == 'artists' }}><a href="/">Artists</a></li>
  <li {{ 'class="current-page"'|safe if props.currentPage == 'posts' }}><a href="/posts">Posts</a></li>
  <li {{ 'class="current-page"'|safe if props.currentPage == 'import' }}><a href="/importer">Import</a></li>
  <li {{ 'class="current-page"'|safe if props.currentPage == 'requests' }}><a href="/requests">Requests</a></li>
  <li><a href="https://board.kemono.party/kemono" target="_blank">Board</a></li>
  <li {{ 'class="current-page"'|safe if props.currentPage == 'help' }}><a href="/help">Help</a></li>
</ul>