{% if results|length == 0 %}
  <div class="no-posts">
    <h1 class="subtitle">Nobody here but us chickens!</h1>
  </div>
{% else %}
  <script>
    window._posts = {{ results|tojson }};
    window._flagged = {{ result_flagged|tojson }};
    window._previews = {{ result_previews|tojson }};
    window._attachments = {{ result_attachments|tojson }};
    window._after_kitsune = {{ result_after_kitsune|tojson }};
    window._is_image = {{ result_is_image|tojson }};
  </script>
  <div class="opts">
    <select id="posts_layout" name="posts_layout">
      <option value="card" {{ 'selected' if request.cookies.get('layout') == 'card' }}>Cards</option>
      <option value="grid" {{ 'selected' if request.cookies.get('layout') == 'grid' }}>Grid</option>
    </select>
  </div>
  <div class="paginator" id="paginator-top">
    {% include 'components/paginator.html' %}
    <form
      action="{{ request.path }}"
      method="GET"
      enctype="application/x-www-form-urlencoded"
    >
      <input
        type="text"
        name="q"
        id="q"
        autocomplete="off"
        value="{{ request.args.get('q') if request.args.get('q') }}"
        placeholder="search for posts..."
      >
      <input type="submit" style="display: none;">
    </form>
  </div>
  {% if request.cookies.get('layout') == 'card' or not request.cookies.get('layout') %}
    <div class="content" id="content">
      <div class="pure-g" id="content-grid"></div>
      <script src="{{ url_for('static', filename='js/list-cards.js') }}"></script>
    </div>
  {% elif request.cookies.get('layout') == 'grid' %}
    <div class="content" id="content">
      <div class="content-grid" id="content-grid"></div>
      <script src="{{ url_for('static', filename='js/list-grid.js') }}"></script>
    </div>
  {% endif %}
  <div class="paginator" id="paginator-bottom">
    {% include 'components/paginator.html' %}
  </div>
  <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
{% endif %}