{% set ns = namespace(parent=false) %}
{% set href = '/' ~ post['service'] ~ '/user/' ~ post['user'] ~ '/post/' ~ post['id'] %}
{% for url in post['content']|regex_find("(?:http\:\/\/|https\:\/\/)?\/inline\/.*\.(?:png|jpe?g|png|webp)")|reverse %}
  {% set ns.parent = true %}
  {% with %}
    {% set src = url %}
    {% set class = 'thumb-child' %}
    {% include 'components/thumb.html' %}
  {% endwith %}
{% endfor %}

{% for attachment in post['attachments'] %}
  {% if attachment.path|lower|regex_match("\.(gif|jpe?g|png|webp)$") %}
    {% set ns.parent = true %}
    {% with %}
      {% set src = attachment.path %}
      {% set class = 'thumb-child' %}
      {% include 'components/thumb.html' %}
    {% endwith %}
  {% endif %}
{% endfor %}

{% with %}
  {% if post['file'].path and post['file'].path|lower|regex_match("\.(gif|jpe?g|png|webp)$") %}
    {% set src = post['file'].path %}
  {% endif %}
  {% set title = post['title'] %}
  {% set content = post['content']|striptags %}
  {% set class = 'thumb-shared' if post['shared_file'] else ('thumb-parent' if ns.parent) %}
  {% include 'components/thumb.html' %}
{% endwith %}