{% if props.currentPage == 'artists' %}
  <ul class="subheader">
    <li><a href="/artists">[Artist List]</a></li>
    <li><a href="/artists/random">[Random Artist]</a></li>
  </ul>
{% endif %}
{% if props.currentPage == 'requests' %}
  <ul class="subheader">
    <li><a href="/requests">[Request List]</a></li>
    <li><a href="/requests/new">[Post New Request]</a></li>
  </ul>
{% endif %}
{#
  {% if request.endpoint == 'user' %}
    <ul class="subheader">
      <li><a href="/posts/upload?service={{ props.service }}&user={{ props.id }}">[Upload file]</a></li>
      <li><a href="{{ request.path }}/rss">[RSS]</a></li>
    </ul>
  {% endif %}
#}
