<a href="{{ href }}" class="thumb-link">
  {% if src %}
    <div class="thumb thumb-with-image {{ class if class else 'thumb-standard' }}">
      <img src="/thumbnail{{ src|replace('https://kemono.party', '') }}">
      <div class="thumb-with-image-overlay">
        <h3>{{ title }}</h3>
        {% if published %}
          <small>{{ published }}</small><br>
        {% endif %}
        {% if attachments|length %}
          <small>{{ attachments|length }} {{ 'attachment' if attachments|length == 1 else 'attachments' }}</small>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="thumb thumb-with-text {{ class if class else 'thumb-standard' }}">
      <h3>{{ title }}</h3>
      {% if published %}
        <small>{{ published }}</small><br>
      {% endif %}
      {% if attachments|length %}
        <small>{{ attachments|length }} {{ 'attachment' if attachments|length == 1 else 'attachments' }}</small>
      {% endif %}
    </div>
  {% endif %}
</a>