@use "variables.scss" as *;

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // TODO: fix this rule
  color: var(--colour0-primary);
  // transition-duration: var(--duration-global);
}

body {
  display: grid;
  // grid-template-columns: minmax(min-content, 1280px);
  grid-template-rows: auto 1fr auto;
  justify-items: stretch;
  min-height: 100%;
  width: 100%;
  color: var(--colour0-primary);
  background-color: var(--colour1-primary);
  padding: 0;
  margin: 0;

  & > * {
    padding: 0.5em 2em;
    
    @media (max-width: $width-phone) {
      padding: 0.5em 1em;
    }
  }
}

main {
  // TODO: remove it after rewriting all pages
  // max-width: 1280px;

}

h1 {
  font-size: 1.7rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}

h5 {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
}

h6 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

a {
  color: hsl(203, 92%, 75%);
  &:visited {
    text-decoration: none;
  }

  &:link {
    text-decoration: none;
  }
}

// TODO: think the styles through
/*
a {
  --local-colour1-primary: var(--anchour-color1-primary);
  --local-colour1-secondary: var(--anchour-color1-secondary);
  --local-colour2-primary: var(--anchour-colour2-primary);
  --local-colour2-secondary: var(--anchour-colour2-secondary);

  outline: none;
  text-decoration: none;
  padding: 2px;
  border-bottom: $size-nano solid transparent;
  transition-property: color, border-color, background-color;

  &:link {
    color: var(--local-colour1-primary);
  }
  
  &:visited {
    color: var(--local-colour1-secondary);
  }
  
  &:focus {
    background-color: var(--local-colour2-primary);
    border-bottom-color: inherit;
  }
  
  &:hover {
    background-color: var(--local-colour2-primary);
    border-bottom-color: inherit;
  }
  
  &:active {
    color: var(--local-colour2-primary);
    background-color: var(--local-colour1-primary);
  }
}
*/

img {
  max-width: 100%;
  height: auto;
}

button, 
input, 
select, 
textarea, 
.pure-g [class *= "pure-u"] {
  font-family: Helvetica, sans-serif;
}

label {
  cursor: pointer;
}

button {
  cursor: pointer;

  // prevents onclick events from firind on children
  & > * {
    pointer-events: none;
  }
}

textarea {
  width: calc(100% - 2px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 3rem;
  box-shadow: inset 0 1px 3px #1f2024;
  background:#3a3d43;
  border: none;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

select {
  background-image: linear-gradient(#282a2e, #111111);
  border-color: #111;
  border-radius: 5px;
  text-align-last: center;
}

select * {
  color: #000;
}

select::-ms-expand {
  color: #000;
}
