/* SASS variables */
// screen widths
$width-feature: 240px;
$width-mobile: 360px;
$width-phone: 480px;
$width-tablet: 720px;
$width-laptop: 1280px;
$width-desktop: 1920px;

// sizes for borders/padding/margins/gaps
$size-nano: 0.0625em;
$size-thin: 0.125em;
$size-little: 0.25em;
$size-small: 0.5em;
$size-normal: 1em;
$size-big: 2em;

/* CSS variables */
:root {
  --colour0-primary: hsl(0, 0%, 95%);
  --colour0-secondary: hsl(0, 0%, 70%);
  --colour0-tertirary: hsl(0, 0%, 45%);
  --colour1-primary: hsl(210, 6%, 12%);
  --colour1-secondary: hsl(220, 7%, 25%);
}
