/* SASS variables */
// screen widths
$width-feature: 240px;
$width-mobile: 360px;
$width-phone: 480px;
$width-tablet: 720px;
$width-laptop: 1280px;
$width-desktop: 1920px;

// sizes for borders/padding/margins/gaps
$size-nano: 0.0625em;
$size-thin: 0.125em;
$size-little: 0.25em;
$size-small: 0.5em;
$size-normal: 1em;
$size-big: 2em;

// buttons 
$button-min-height: 44px;

/* CSS variables */
:root {
  // base colours
  --colour0-primary: hsl(0, 0%, 95%);
  --colour0-secondary: hsl(0, 0%, 70%);
  --colour0-tertirary: hsl(0, 0%, 45%);
  --colour1-primary: hsl(210, 6%, 12%);
  --colour1-secondary: hsl(220, 7%, 25%);
  --colour1-tertiary: hsl(210, 15%, 5%);

  --favourite-colour1-primary: hsl(51, 100%, 50%);
  --favourite-colour2-primary: hsl(60, 100%, 30%);
  // links
  --anchour-color1-primary: hsl(200, 100%, 80%);
  --anchour-color1-secondary: hsl(200, 60%, 60%);
  --anchour-colour2-primary: hsl(210, 100%, 20%);
  --anchour-colour2-secondary: hsl(210, 70%, 30%);

  --positive-colour1-secondary: hsl(120, 100%, 30%);

  --duration-fast: 250ms;
  --duration-global: var(--duration-fast);
}
