{% extends 'components/shell.html' %}
{% block content %}
  <div class="page" id="page">
    <div class="jumbo">
      <p>
        Welcome to <strong>Kemono,</strong> a scraper for Patreon, Pixiv Fanbox, SubscribeStar, Gumroad, Discord, and DLsite. Contributors here upload content from paywalls, and share it here for easy searching and organization.<br>
        To get started viewing paywalled content, either search for creators on the <strong>[Artists]</strong> tab, or search for content on the <strong>[Recent Posts]</strong> tab.<br>
        If you want to contribute content, click the <strong>[Import]</strong> tab.
      </p>
    </div>
  </div>
{% endblock %}