{% extends 'components/shell.html' %}
{% block content %}
<div class="views">
  <div class="sidebar" style="margin-right: 20px;">
    <span class="subtitle">Click on the thumbnails to reveal the original resolution image.</span>
    <h1>Information</h1>
    <div class="results" id="results"></div>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/unfetch@4.1.0/polyfill/index.js"></script>
    <script src="{{ url_for('static', filename='js/post.js') }}"></script>
  </div>
  <div class="page" id="page">
    {% for post in results %}
      {% set previews = result_previews[loop.index0] %}
      {% set attachments = result_attachments[loop.index0] %}
      {% with post=post %}
        {% set render_title = True %}
        {% include 'components/post_view.html' %}
      {% endwith %}
    {% endfor %}
  </div>
</div>
<script src="{{ url_for('static', filename='js/expander.js') }}"></script>
{% endblock %}