<b>New request</b>
<i>{{ request.form.get('title') }}</i> (${{ request.form.get('price') }})
{{ request.form.get('description') if request.form.get('description') }}
<a href="{{ {
  'patreon': 'https://www.patreon.com/posts/' ~ request.form.get('specific_id} if request.form.get('specific_id') else 'https://www.patreon.com/user?u=' ~ request.form.get('user_id'),
  'fanbox': 'https://www.pixiv.net/fanbox/creator/' ~ request.form.get('user_id') ~ '/post/' ~ request.form.get('specific_id') if request.form.get('specific_id') else 'https://www.pixiv.net/fanbox/creator/' ~ request.form.get('user_id'),
  'gumroad': 'https://gumroad.com/l/' ~ request.form.get('specific_id') if request.form.get('specific_id') else 'https://gumroad.com/' ~ request.form.get('user_id'),
  'subscribestar': 'https://subscribestar.adult/posts/' ~ request.form.get('specific_id') if request.form.get('specific_id') else 'https://subscribestar.adult/' ~ request.form.get('user_id'),
  'dlsite': 'https://www.dlsite.com/ecchi-eng/work/=/product_id/' ~ request.form.('specific_id') if request.form.get('specific_id') else 'https://www.dlsite.com/eng/circle/profile/=/maker_id/' ~ request.form.get('user_id')
}.get(request.form.get('service')) }}">Link to requested user/post.</a>