{% extends 'components/shell.html' %}
{% block content %}
<div class="user-header" style="background-image: url('https://archive.li/55iuJ/8e5c70a1f04681a98d408e17811581173c7ef600.jpg');">
  <div class="user-header-avatar" style="background-image: url('https://archive.li/55iuJ/099e549bc9f8ea46f246b1754d79d225e778a744.jpg');"></div>
  <div class="user-header-info">
    <div class="user-header-info-top">
      <span class="user-header-info-title">{{ props.name }}</span>
      {% if props.service == "patreon" %}
      <a target="_blank" rel="noreferrer" href="https://www.patreon.com/user?u={{ props.id }}">
      {% elif props.service == "fanbox" %}
      <a target="_blank" rel="noreferrer" href="https://www.pixiv.net/fanbox/creator/{{ props.id }}">
      {% elif props.service == "subscribestar" %}
      <a target="_blank" rel="noreferrer" href="https://subscribestar.adult/{{ props.id }}">
      {% elif props.service == "gumroad" %}
      <a target="_blank" rel="noreferrer" href="https://gumroad.com/{{ props.id }}">
      {% elif props.service == "dlsite" %}
      <a target="_blank" rel="noreferrer" href="https://www.dlsite.com/eng/circle/profile/=/maker_id/{{ props.id }}">
      {% endif %}
        <div class="user-header-info-{{ props.service }}"></div>
      </a>
    </div>
    <!-- <span>Hello world</span> -->
  </div>
</div>
{% include 'components/list.html' %}
{% endblock %}