{% extends 'components/shell.html' %}
{% block content %}
<div class="user-header" style="background-image: url('/banners/{{ props.service }}/{{ props.id }}');">
  <div class="user-header-avatar" style="background-image: url('/icons/{{ props.service }}/{{ props.id }}');"></div>
  <div class="user-header-info">
    <div class="user-header-info-top">
      <a href="/{{ props.service }}/user/{{ props.id }}"><span class="user-header-info-title">{{ props.name }}</span></a>
      {% if props.service == "patreon" %}
      <a target="_blank" rel="noreferrer" href="https://www.patreon.com/user?u={{ props.id }}">
      {% elif props.service == "fanbox" %}
      <a target="_blank" rel="noreferrer" href="https://www.pixiv.net/fanbox/creator/{{ props.id }}">
      {% elif props.service == "subscribestar" %}
      <a target="_blank" rel="noreferrer" href="https://subscribestar.adult/{{ props.id }}">
      {% elif props.service == "gumroad" %}
      <a target="_blank" rel="noreferrer" href="https://gumroad.com/{{ props.id }}">
      {% elif props.service == "dlsite" %}
      <a target="_blank" rel="noreferrer" href="https://www.dlsite.com/eng/circle/profile/=/maker_id/{{ props.id }}">
      {% endif %}
        <div class="user-header-info-{{ props.service }}"></div>
      </a>
      {% if session.get('favorites') and props.service ~ ':' ~ props.id in session.get('favorites') %}
        <form
          action="/config/remove"
          method="POST"
          enctype="multipart/form-data"
          style="display: inline;"
        >
          <input type="hidden" name="favorites" value="{{ props.service ~ ':' ~props.id }}">
          <label for="submit-favorite" class="user-header-favorite"><span style="color: #FFD700;">★</span></label>
          <input id="submit-favorite" type="submit" style="display: none;">
        </form>
      {% else %}
        <form
          action="/config/add"
          method="POST"
          enctype="multipart/form-data"
          style="display: inline;"
        >
          <input type="hidden" name="favorites" value="{{ props.service ~ ':' ~props.id }}">
          <label for="submit-favorite" class="user-header-favorite">☆</label>
          <input id="submit-favorite" type="submit" style="display: none;">
        </form>
      {% endif %}
      {% if session.get('blocked') and props.service ~ ':' ~ props.id in session.get('blocked') %}
        <form
          action="/config/remove"
          method="POST"
          enctype="multipart/form-data"
          style="display: inline;"
        >
          <input type="hidden" name="blocked" value="{{ props.service ~ ':' ~props.id }}">
          <label for="submit-block" class="user-header-blocked"><span style="color: #ff6961;">×</span></label>
          <input id="submit-block" type="submit" style="display: none;">
        </form>
      {% else %}
        <form
          action="/config/add"
          method="POST"
          enctype="multipart/form-data"
          style="display: inline;"
        >
          <input type="hidden" name="blocked" value="{{ props.service ~ ':' ~props.id }}">
          <label for="submit-block" class="user-header-blocked">×</label>
          <input id="submit-block" type="submit" style="display: none;">
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% include 'components/list.html' %}
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
<script src="{{ url_for('static', filename='js/expander.js') }}"></script>
{% endblock %}