{% extends 'components/shell.html' %}
{% block content %}
  <section class="site-section site-section--artists page" id="page">
    <div class="no-posts" id="loading">
      <span class="subtitle">
        Loading creator index... (please wait before searching)
      </span>
    </div>
    <form
      autocomplete="off"
      id="search-form"
      class="search-form"
      novalidate="novalidate"
      accept-charset="UTF-8"
    >
      <div>
        <label for="q">Name</label>
        <input
          type="text"
          name="q"
          id="q"
          autocomplete="off"
        >
        <small class="subtitle" style="margin-left: 5px;">Leave blank to list all</small>
      </div>
      <div>
        <label for="service">Service</label>
        <select id="service" name="service">
          <option value="">All</option>
          <option value="patreon">Patreon</option>
          <option value="fanbox">Pixiv Fanbox</option>
          <option value="gumroad">Gumroad</option>
          <option value="subscribestar">SubscribeStar</option>
          <option value="discord">Discord</option>
          <option value="dlsite">DLsite</option>
          <option value="fantia">Fantia</option>
        </select>
      </div>
      <div>
        <label for="sort_by">Sort by</label>
        <select id="sort_by" name="sort_by">
          <option value="indexed" >Date Indexed</option>
          <option value="name">Alphabetical Order</option>
          <option value="service">Service</option>
        </select>
        <select id="order" name="order">
          <option value="desc">Descending</option>
          <option value="asc">Ascending</option>
        </select>
      </div>
    </form>
    {% if props['display'] %}
      <div style="text-align: center;">
        <h3 id="display-status" class="subtitle">Displaying {{ props['display'] }}</h3>
      </div>
    {% endif %}
    {% include 'components/artist_list.html' %}
    <script src="https://unpkg.com/unfetch@4.1.0/polyfill/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    <script src="{{ url_for('static', filename='js/artists.js') }}"></script>
  <section>
{% endblock %}
