{% extends 'components/shell.html' %}

{% macro ban_item(href, name, service_title) %}
  <li class="bans__item">
    <a href="{{ href }}">
      <span>{{ name }}</span> <span class="subtitle">{{ service_title }}</span>
    </a>
  </li>
{% endmacro %}

{% block content %}
  {# TODO: rewrite sidebar as a macro #}
  
  <section class="site-section site-section--bans" id="page">
    {% include 'components/help_sidebar.html' %}
    <div>
      <h1>Bans</h1>
      <p>
        The following users have been banned from this instance. Posts from them will not import.
      </p>
      <ul id="bans" class="bans">
      </ul>
    </div>
  </section>
{% endblock %}

{% block components %}
  {{ ban_item("", "", "") }}
{% endblock components %}
