{% extends 'components/shell.html' %}
{% block content %}
<div class="page" id="page">
  {% if results|length %}
  <div class="pure-g">
    {% for user in results %}
      <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-3 {{ user.service }}-{{ user.user }}">
        <a href="/{{ user.service }}/user/{{ user.user }}">
          <div class="activity-view">
            <div class="activity-view-avatar" style="background-image: url('/icons/{{ user.service }}/{{ user.user }}');"></div>
            <div class="activity-view-main">
              <div class="activity-view-p">
                <span class="activity-view-name">{{ user.name }}</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <div class="no-posts">
      <h1 class="subtitle">You haven't blocked anyone.</h1>
    </div>
  {% endif %}
</div>
{% endblock %}