{% extends 'components/shell.html' %}

{% from 'components/headers.html' import user_header %}
{% from 'components/card_list.html' import card_list %}
{% from 'components/cards/dm.html' import dm_card %}

{% set paysite = g.paysites[props.service] %}
{% set page_title = 'DMs of ' ~ props.artist.name ~ ' from ' ~ paysite.title ~ ' | Kemono' %}

{% block title %}
  <title>
    {{ page_title }}
  </title>
{% endblock title %}

{% block meta %}
  <meta name="artist_id" content="{{ props.id }}">
  <meta name="service" content="{{ props.service }}">
  <meta name="artist_name" content="{{ props.artist.name }}">
  <link rel="canonical" href="{{ g.canonical_url }}">
{% endblock meta %}

{% block opengraph %}
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Kemono">
  <meta property="og:image" content="{{ g.origin }}/icons/{{ props.service }}/{{ props.id }}">
  <meta property="og:url" content="{{ g.canonical_url }}">
{% endblock opengraph %}

{% block content %}
<section class="site-section site-section--dms">
  {{ user_header(request, props) }}

  {% call card_list("phone") %}
    {% for dm in props.dms %}
      {{ dm_card(dm) }}
    {% else %}
      <div class="no-results">
        <h2 class="site-section__subheading">Nobody here but us chickens!</h1>
        <p class="subtitle">
          There are either no more DMs beyond this page, or this user hasn't been imported.
        </p>
      </div>
    {% endfor %}
  {% endcall %}
</section>
{% endblock content %}
