{% extends 'components/shell.html' %}

{% from 'components/card_list.html' import card_list %}
{% from 'components/cards.html' import post_card %}

{% block scripts_extra %}
  <script src="{{ url_for('static', filename='js/favorites.js') }}" defer ></script>
{% endblock scripts_extra %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/favorites.css') }}">
<section class="page site-section site-section--favorites" id="page">
  <header class="site-section__header">
    <h1 class="site-section__heading">Favorite {{ 'Artists' if props.fave_type == 'artist' else 'Posts' }}</h1>
  </header>
  
  {% if source == 'session' %}
  <div>
    <table class="search-results" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Service</th>
        </tr>
      </thead>
      <tbody id="favorites-list">
        <noscript>
          <tr>
            <td class="subtitle">This feature requires Javascript.</td>
            <td></td>
          </tr>
        </noscript>
      </tbody>
    </table>
    <script src="https://unpkg.com/unfetch@4.1.0/polyfill/index.js"></script>
  </div>
  {% else %}
    <div class="dropdowns">
      <label>Type</label>
      <select autocomplete="off" onchange="on_change_favorite_type(this)">
        <option value="artist" {% if props.fave_type == "artist" %}selected="selected"{% endif %}>Artists</option>
        <option value="post" {% if props.fave_type == "post" %}selected="selected"{% endif %}>Posts</option>
      </select>

      {% if props.fave_type == "artist" %}
        <label>Sort by</label>
        <select autocomplete="off" onchange="on_change_filters('sort', this)">
          <option value="updated" {% if props.sort_field == "updated" %}selected="selected"{% endif %}>Last updated</option>
          <option value="faved_seq" {% if props.sort_field == "faved_seq" %}selected="selected"{% endif %}>Faved date</option>
        </select>
      {% else %}
        <label>Sort by</label>
        <select autocomplete="off" onchange="on_change_filters('sort', this)">
          <option value="faved_seq" {% if props.sort_field == "faved_seq" %}selected="selected"{% endif %}>Faved date</option>
          <option value="published" {% if props.sort_field == "published" %}selected="selected"{% endif %}>Published</option>
        </select>
      {% endif %}

      <label>Order</label>
      <select autocomplete="off" onchange="on_change_filters('order', this)">
        <option value="desc" {% if not props.sort_asc %}selected="selected"{% endif %}>Descending</option>
        <option value="asc" {% if props.sort_asc %}selected="selected"{% endif %}>Ascending</option>
      </select>
    </div>
    {% if props.fave_type == "artist" %}
      {% include 'components/artist_list.html' %}
    {% else %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
        <form
          action="{{ request.path }}"
          method="GET"
          enctype="application/x-www-form-urlencoded"
        >
          <input
            type="text"
            name="q"
            id="q"
            autocomplete="off"
            value="{{ request.args.get('q') if request.args.get('q') }}"
            placeholder="search for posts..."
            class="search-input"
          >
          <input type="submit" style="display: none;">
        </form>
      </div>

      {% call card_list() %}
        {% for post in results %}
          {{ post_card(post) }}
        {% else %}
          <h2 class="subtitle">Nobody here but us chickens!</h2>
          <p class="subtitle">
            There are either no more posts beyond this page, or this user hasn't been imported.
          </p>
        {% endfor %}
      {% endcall %}

      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  {% endif %}
</section>
{% endblock content %}
