{% extends 'components/shell.html' %}

{% import 'components/site.html' as site %}
{% from "components/links.html" import kemono_link %}

{% block content %}
  {% call site.section("home") %}
    <div class="jumbo-welcome">
      <div class="jumbo-welcome-background"></div>
      <div class="jumbo-welcome-mascot">
        <div class="jumbo-welcome-mascot-tan"></div>
      </div>
      <div class="jumbo-welcome-description">
        <div class="jumbo-welcome-description-header">
          <img src="/static/klogo.png" width="50px" height="50px">
        </div>
        <p>
          <strong>Kemono</strong> is a public archiver for:
        </p>
        <ul>
          {% for paysite in g.paysite_list %}
            <li>
              {{ g.paysites[paysite].title }}
            </li>
          {% endfor %}
        </ul>
        <p>
          Contributors here upload content and share it here for easy searching and organization. To get started viewing content, either search for creators on the {{ kemono_link("/artists", "artists page")}}, or search for content on the {{ kemono_link("/posts", "posts page") }}. If you want to contribute content, head over to the {{ kemono_link("/importer", "import page") }}.
        </p>
        <div class="jumbo-welcome-credits">
          <small>Background by <a href="/patreon/user/2909939">Krokobyaka</a></small><br>
          <small>Mascot commission fulfilled by <a href="https://twitter.com/ArkanmanDankan" target="_blank">Arkman;</a> coordinated by Crackhead McGee</small>
        </div>
      </div>
    </div>
    <div class="jumbo">
      <h2>Announcements</h2>
      <p class="subtitle">
        {# Placeholder: Announcements and alerts/warnings are planned to be dynamic. #}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
        
    </div>
  {% endcall %}
{% endblock %}
