{% extends 'components/shell.html' %}

{% from 'components/links.html' import email_link %}
{% from 'components/tooltip.html' import register_message %}

{% block title %}
  <title>Import paywall posts/comments/DMs to Kemono.</title>
{% endblock title %}

{% block content %}
<section class="page site-section site-section--importer" id="page">
  <h1 class="site-section__heading">Import from paysite</h1>
  {% include "components/importer_states.html" %}
  <form
    id="import-list"
    class="form form--bigger"
    action="/api/import"
    enctype="application/x-www-form-urlencoded"
    method="POST"
  >
    <div class="form__section">
      <label for="service" class="form__label">Paysite:</label>
      <select id="service" class="form__select" name="service">
        {% for entry in g.paysite_list %}
          {% set paysite = g.paysites[entry] %}
          <option 
            class="form__option"
            value="{{ entry }}"
            {{ "selected" if loop.first }}
          >
            {{ paysite.title }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form__section">
      <label class="form__label" for="session-key" >
        Session key:
      </label>
      <input 
        id="session-key"
        class="form__input"
        type="text"
        name="session_key"
        autocomplete="off" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="false"
        maxlength="1024"
        required
      >
      <small class="form__subtitle">
        <a href="/importer/tutorial">Learn how to get your session key.</a>
      </small>
    </div>

    <div id="discord-section" class="form__section form__section--hidden">
      <label for="channel_ids" class="form__label">
        Discord channel IDs:
      </label>
      <input 
        type="text"
        class="form__input"
        id="channel_ids"
        name="channel_ids"
        autocomplete="off" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="false"
      >
      <small class="form__subtitle">
        comma separated, no spaces
      </small>
    </div>

    <div id="consent" class="form__section form__section--checkbox">
      <input 
        class="form__input"
        type="checkbox" 
        checked="checked" 
        id="save-session-key" 
        name="save_session_key" 
        value="1"
      />
      <label class="form__label" for="save-session-key">
        Allow administrator to use my session for debugging
        <br>
        <small class="form__subtitle">
          Contributed debugging keys are encrypted using a strong RSA 4096 key that only the administrator can decipher.
        </small>
      </label>
    </div>

    <div id="auto-import-consent" class="form__section form__section--checkbox">
      <input 
        class="form__input"
        type="checkbox"
        checked="checked" 
        id="auto_import" 
        name="auto_import" 
        value="1"
      >
      <label class="form__label" for="auto_import">
        Allow the importer to save my session key for auto-import
        <br>
        <small class="form__subtitle">
          If enabled, new posts will automatically be imported every 24 hours without manual intervention. Direct message importing still requires manual import. See notes below for security information.
        </small>
      </label>
    </div>

    <div id="dm-consent" class="form__section form__section--checkbox">
      <input 
        class="form__input"
        type="checkbox"
        id="save-dms" 
        name="save_dms" 
        value="1"
      >
      <label class="form__label" for="save-dms">
        Allow the importer to access your direct messages
        <br>
        <small class="form__subtitle">
          You will be able to manually approve or discard messages before they are publicly displayed.
        </small>
      </label>
    </div>
    
    <div class="form__section">
      <button 
        class="form__button form__button--submit" 
        type="submit" 
      >
        Submit key
      </button>
    </div>

  </form>
  <h2 class="site-section__subheading">Important information</h2>
  <p>
    Your session key is used to scrape paid posts from your feed. After downloading missing posts, the key is immediately discarded and never stored without permission.
  </p>
  <h3>Fantia</h3>
  <ul>
    <li>At least one paid content must be unlocked for the post to be imported. <i>Free posts cannot be archived at this time.</i></li>
    <li>In order to download post contents accurately, the importer will automatically enable adult-viewing mode for duration of the import if you have it turned off. <b>Do not change back to general-viewing during imports.</b></li>
  </ul>
  <h3>Auto-import</h3>
  <p>
    The auto-import feature allows users to give Kemono permission to automatically detect and retrieve new posts and creators by storing session keys long-term, without need for manual key submission. All keys are encrypted using a strong RSA 4096 key. When the administrators start a new autoimport round, a computer outside of Kemono's infrastucture sends the private key to the backend, allowing it to decrypt all working keys and start import tasks. Even if Kemono's private database were to somehow be compromised, your tokens would remain anonymous and secure.<br>
    If you are logged into Kemono, any key you submit with autoimport enabled can be managed under the <b>Keys</b> section of your <b>[Account]</b> tab in the header. There, you will be able to view import logs or revoke access. <i>Please note that anonymously-submitted keys cannot be managed.</i>
  </p>
</section>
{% endblock content %}

{% block components %}
  {{ register_message("DM import") }}
{% endblock components %}
