{% extends 'components/shell.html' %}

{% block content %}
<section class="page site-section site-section--importer" id="page">
  <h1 class="site-section__heading">Import from paysite</h1>
  <form
    class="form form--bigger"
    action="/api/import"
    enctype="application/x-www-form-urlencoded"
    method="POST"
  >
    <div class="form__section">
      <label for="service" class="form__label">Paysite:</label>
      <select id="service" class="form__select" name="service">
        {% set form_options = [
          ("patreon", "Patreon", true),
          ("fanbox", "Pixiv Fanbox", false),
          ("gumroad", "Gumroad", false),
          ("subscribestar", "SubscribeStar", false),
          ("discord", "Discord", false),
          ("fantia", "Fantia", false),
        ] %}
        {% for value, title, is_selected in form_options %}
          <option 
            class="form__option"
            value="{{ value }}"
            {{ 'selected' if is_selected  }}
          >
            {{ title }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="form__section">
      <label class="form__label" for="session-key" >
        Session key:
      </label>
      <input 
        id="session-key"
        class="form__input"
        type="text"
        name="session_key"
        autocomplete="off" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="false"
        required
      >
      <small class="form__subtitle">
        <a href="/importer/tutorial">Learn how to get your session key.</a>
      </small>
    </div>

    <div id="discord-section" class="form__section form__section--hidden">
      <label for="channel_ids" class="form__label">
        Discord channel IDs:
      </label>
      <input 
        type="text"
        class="form__input"
        id="channel_ids"
        name="channel_ids"
        autocomplete="off" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="false"
      >
      <small class="form__subtitle">
        comma separated, no spaces
      </small>
    </div>

    <div id="consent" class="form__section form__section--checkbox">
      <input 
        class="form__input"
        type="checkbox" 
        checked="checked" 
        id="save-session-key" 
        name="save_session_key" 
        value="1"
      />
      <label class="form__label" for="save-session-key">
        I want to allow the development team to use my session for debugging (your session will be encrypted)
      </label>
    </div>

    <div class="form__section">
      <button 
        class="form__button form__button--submit" 
        type="submit" 
      >
        Submit key
      </button>
    </div>

  </form>
  <h2 class="site-section__subheading">Important information</h2>
  <p>
    Your session key is used to scrape paid posts from your feed. After downloading missing posts, the key is immediately discarded and never stored.
  </p>
  <h3>Fantia</h3>
  <ul>
    <li>At least one paid content must be unlocked for the post to be imported. <i>Free posts cannot be archived at this time.</i></li>
    <li>In order to download post contents accurately, the importer will automatically enable adult-viewing mode for duration of the import if you have it turned off. <b>Do not change back to general-viewing during imports.</b></li>
  </ul>
  <p>
    If you're having trouble with the importer, <a href="mailto:admin@kemono.party">contact admin.</a> 
  </p>
</section>
{% endblock %}
