{% extends 'components/shell.html' %}

{% set page_title = 'Manage saved keys | Kemono' %}

{% block title %}
  <title>
    {{ page_title }}
  </title>
{% endblock title %}

{% block content %}
<section class="site-section site-section--keys">
  <div class="form">
    <h1 class="subtitle">This feature is under development!</h1>
  </div>
  <!-- <div>
    {% for key in results %}
      {% set paysite = g.paysites[key.service] %}
      <header>
        {{ paysite.title }}
        <span class="subtitle">{{ key.added }}</span>
        <a></a>
      </header>
      
    {% endfor %}
  </div> -->
</section>
{% endblock content %}
