{% extends 'components/shell.html' %}

{% from 'components/timestamp.html' import timestamp %}
{% from 'components/links.html' import kemono_link, local_link %}
{% from 'components/fancy_image.html' import fancy_image, background_image %}

{% set paysite = g.paysites[props.service] %}
{% set page_title = post.title ~ " by " ~ props.artist.name ~ " from " ~ paysite.title ~ " | Kemono" if props.artist else post.title ~ " | Kemono" %}

{% macro post_view(post, attachments, previews) %}
  {% if post.service == 'dlsite' and post.attachments|length > 1 %}
    <p class="subtitle">
      This DLsite post was received as a split set of multiple files due to file size. Download all the files, then open the .exe file to compile them into a single one.
    </p>
  {% endif %}
  
  <ul class="post__attachments">
    {% for attachment in attachments %}
      <li class="post__attachment">
        <a
          class="post__attachment-link"
          href="{{ attachment.path }}" 
          target="_blank"
        >
          Download {{ attachment.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <p class="post__content">
    {{ post.content|safe }}
  </p>

  <div class="post__files">
    {% for preview in previews %}
      {% if preview.type == 'thumbnail' %}
        <div class="post__thumbnail">
          <a class="fileThumb" href="{{ preview.path }}">
            {# TODO: move backup image logic to the script #}
            <img
              data-src="/thumbnail{{ preview.path }}"
              src="/thumbnail{{ preview.path }}"
              loading="lazy"
            >
          </a>
        </div>
      {% elif preview.type == 'embed' %}
        <a 
          href="{{ preview.url }}" 
          target="_blank"
        >
          <div class="embed-view">
            <h2 
              class="{{'subtitle' if not preview.subject}}"
            >
              {{ preview.subject if preview.subject else '(No title)' }}
            </h2>
            {% if preview.description %}
              <p>
                {{ preview.description }}
              </p>
            {% endif %}
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  
{% endmacro %}

{% block title %}
  <title>
    {{ page_title }}
  </title>
{% endblock title %}

{% block meta %}
  <meta name="service" content="{{ post.service }}">
  <meta name="id" content="{{ post.id }}">
  <meta name="user" content="{{ post.user }}">
  {% if post.published %}
    <meta name="published" content="{{ post.published }}">
  {% endif %}
{% endblock meta %}

{% block opengraph %}
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Kemono">
  <meta property="og:image" content="/icons/{{ post.service }}/{{ post.user }}">
  <meta property="og:url" content="{{ g.canonical_url }}">
{% endblock opengraph %}

{% block content %}
<section class="site-section site-section--post" id="page">
  {% if post %}
    <nav class="post__nav-links">
      <ul class="post__nav-list">
        <li class="post__nav-item">
          <a 
            class="post__nav-link prev" 
            href="/{{ post.service }}/user/{{ post.user }}/post/{{ post.id }}/prev"
          >
            ‹ previous
          </a> 
        </li>
        <li class="post__nav-item">
          <a 
            class="post__nav-link next" 
            href="/{{ post.service }}/user/{{ post.user }}/post/{{ post.id }}/next"
          >
            next ›
          </a>
        </li>
      </ul>
    </nav>

    <header class="post__header">
      <div class="post__user">
        {{ background_image('/banners/' ~ post.service ~ '/' ~ post.user) }}
        <div
          class="post__user-profile" 
        >
          <a href="/{{ post.service }}/user/{{ post.user }}">
            <img 
              class="post__user-avatar"
              src="/icons/{{ post.service }}/{{ post.user }}"
            > 
          </a>
        </div>
        <div>
          <a
            class="post__user-name" 
            href="/{{ post.service }}/user/{{ post.user }}">
            {{ props.artist.name if props.artist else "Artist's page"}}
          </a>
        </div>
      </div>
      <div class="post__info">
        {# TODO: check what's toggle is for #}
        <h1 for="toggle-{{ post.id }}" class="post__title">
          {# title hidden with subscribestar posts to prevent redundancy #}
          {% if post.service != 'subscribestar' %}
            {% if post_link_in_title %}
              <a 
                href="/{{ post.service }}/user/{{ post.user }}/post/{{ post.id }}" 
                target="_blank"
              >
                {{ post.title }}
              </a>
            {% else %}
              {{ post.title }}
            {% endif %}
          {% endif %}
        </h1>
        {% if post.published %}
          <div for="toggle-{{ post.id }}"  class="post__published">
            {{ timestamp(post.published) }}
          </div>
        {% endif %}
        <div class="post__actions">
          {% if props.flagged %}
            <span 
              class="post__flag post__flag--flagged" 
            >
              <span class="post__flag-icon">⚑</span>
              <span>Flagged</span>
            </span>
          {% else %}
            <button
              class="post__flag"
              type="button"
            >
              <span class="post__flag-icon">⚑</span>
              <span>Flag</span>
            </button>
          {% endif %}
        </div>
      </div>
    </header>

    <div class="post__body">
      {{ post_view(post, result_attachments, result_previews) }}
    </div>

    <footer class="post__footer">
      <h2 class="site-section__subheading">Comments</h2>
      {# TODO: comment filters #}
      <div class="post__comments {{ 'post__comments--no-comments' if not comments }}">
        {% for comment in comments %}
          {% set is_user = comment.commenter == post.user %}
          <article 
            class="comment {{ 'comment--user' if is_user }}" 
            id="{{ comment.id }}"
          >
            <header class="comment__header">
              {% if is_user %}
              
                {% call kemono_link(comment.id, class_name="comment__icon") %}
                  {{ fancy_image('/icons/' ~ post.service ~ '/' ~ post.user) }}
                {% endcall %}

                {% call local_link(comment.id, class_name="comment__name") %}
                  {{ props.artist.name if props.artist else 'Artist' }}
                {% endcall %}

              {% else %}
                {{ local_link(comment.id, 'Anonymous', "comment__name") }}
              {% endif %}
            </header>
            <section class="comment__body">
              {% if comment.parent_id %}
                <div class="comment__reply">
                  <a href="#{{ comment.parent_id }}">
                    >>{{comment.parent_id}}
                  </a>
                </div>
              {% endif %} 
              {{ comment.content | safe }}
            </section>
            <footer class="comment__footer">
              {{ timestamp(comment.published) }}
            </footer>
          </article>
        {% else %}
          <p class="subtitle">No comments found for this post.</p>
        {% endfor %}
      </div>
      
    </footer>
    
  {% else %}
    <h1 class="subtitle no-posts">Nobody here but us chickens!</h1>
  {% endif %}
</section>
{% endblock %}

{% block components %}
  <button 
    class="post__fav"
    type="button"
  >
    <span class="post__fav-icon">☆</span>
    <span>Favorite</span>
  </button>
  <span 
    class="post__flag post__flag--flagged" 
  >
    <span>⚑</span>
    <span>Flagged</span>
  </span>
{% endblock components %}
