{% extends 'components/shell.html' %}
{% block content %}
<section class="site-section site-section--requests-list page" id="page">
  <form
    autocomplete="on"
    class="search-form"
    novalidate="novalidate"
    action="/requests"
    method="get"
  >
    <div>
      <label for="q">Title</label>
      <input
        type="text"
        name="q"
        id="q"
        autocomplete="off"
        value="{{ request.args.get('q') if request.args.get('q') }}"
      >
      <small class="subtitle" style="margin-left: 5px;">Leave blank to list all.</small>
    </div>
    <div>
      <label for="service">Service</label>
      <select id="service" name="service">
        <option value="">All</option>
        <option value="patreon" {{ 'selected' if request.args.get('service') == 'patreon' }}>Patreon</option>
        <option value="fanbox" {{ 'selected' if request.args.get('service') == 'fanbox' }}>Pixiv Fanbox</option>
        <option value="gumroad" {{ 'selected' if request.args.get('service') == 'gumroad' }}>Gumroad</option>
        <option value="subscribestar" {{ 'selected' if request.args.get('service') == 'subscribestar' }}>SubscribeStar</option>
        <option value="discord" {{ 'selected' if request.args.get('service') == 'discord' }}>Discord</option>
        <option value="dlsite" {{ 'selected' if request.args.get('service') == 'dlsite' }}>DLsite</option>
      </select>
    </div>
    <div>
      <label for="sort_by">Sort by</label>
      <select id="sort_by" name="sort_by">
        <option value="votes">Votes</option>
        <option value="created" {{ 'selected' if request.args.get('sort_by') == 'created' }}>Date posted</option>
        <option value="price" {{ 'selected' if request.args.get('sort_by') == 'price' }}>Price</option>
      </select>
      <select name="order">
        <option value="asc" {{ 'selected' if request.args.get('order') == 'asc' }}>Ascending</option>
        <option value="desc" {{ 'selected' if request.args.get('order') == 'desc' or request.args.get('order') is none }}>Descending</option>
      </select>
    </div>
    <div>
      <label for="status">Status</label>
      <input type="radio" name="status" value="open" style="margin-right:5px" {{ 'checked' if request.args.get('status') == 'open' or request.args.get('status') is none }}>Open
      <input type="radio" name="status" value="fulfilled" style="margin-right:5px" {{ 'checked' if request.args.get('status') == 'fulfilled' }}>Fulfilled
      <input type="radio" name="status" value="closed" style="margin-right:5px" {{ 'checked' if request.args.get('status') == 'closed' }}>Closed
    </div>
    <div>
      <label for="max_price">Max Price</label>
      $ <input
          id="max_price"
          name="max_price"
          type="number"
          min="0.00"
          max="10000.00"
          step="0.01"
          value="{{ request.args.get('max_price') }}"
          required
        />
    </div>
    <input type="submit" name="commit" value="Search" data-disable-with="Search">
  </form>
  <div class="vertical-views">
    <div class="paginator" id="paginator-top">
      {% include 'components/paginator.html' %}
    </div>
    <table class="search-results" width="100%">
      <thead>
        <tr>
          <th width="100px"></th>
          <th></th>
          <th>Status</th>
          <th>Price</th>
          <th>Votes</th>
          <th>Notifications</th>
        </tr>
      </thead>
      <tbody>
        {% if results|length == 0 %}
          <tr>
            <td></td>
            <td class="subtitle">No more requests for your query.</td>
          </tr>
        {% else %}
          {% for ticket in results %}
            <tr class="artist-row">
              <td>
                {% if ticket.get('image') %}
                  <a href="{{ ticket.get('image') }}" target="_blank">
                  {# Thumbnails temporarily removed #}
                    <img src="{{ ticket.get('image') }}">
                  </a>
                {% else %}
                  <span class="subtitle">No image</span>
                {% endif %}
              </td>
              <td>
                <a href="{{ {
                  'patreon': 'https://www.patreon.com/posts/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://www.patreon.com/user?u=' ~ ticket.get('user'),
                  'fanbox': 'https://www.pixiv.net/fanbox/creator/' ~ ticket.get('user') ~ '/post/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://www.pixiv.net/fanbox/creator/' ~ ticket.get('user'),
                  'gumroad': 'https://gumroad.com/l/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://gumroad.com/' ~ ticket.get('user'),
                  'subscribestar': 'https://subscribestar.adult/posts/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://subscribestar.adult/' ~ ticket.get('user'),
                  'dlsite': 'https://www.dlsite.com/ecchi-eng/work/=/product_id/' ~ ticket.get('post_id') if ticket.get('post_id') else 'https://www.dlsite.com/eng/circle/profile/=/maker_id/' ~ ticket.get('user')
                }.get(ticket.get('service')) }}"
                  target="_blank"
                >
                  <strong>{{ ticket.get('title') }}</strong><span class="subtitle"> {{ {
                    'patreon': 'Patreon',
                    'fanbox': 'Pixiv Fanbox',
                    'subscribestar': 'SubscribeStar',
                    'gumroad': 'Gumroad',
                    'discord': 'Discord',
                    'dlsite': 'DLsite'
                  }.get(ticket.get('service')) }}</span>
                  <br>
                  {% if ticket.get('description') %}
                    <small>{{ ticket.get('description')|safe }}</small><br>
                  {% endif %}
                  <small class="subtitle">{{ ticket.get('created') }}</small>
                </a>
              </td>
              <td>
                {{ {
                  'open': '<span style="color:#cc0">Open</span>'|safe,
                  'fulfilled': '<span style="color:#0f0">Fulfilled</span>'|safe,
                  'closed': '<span style="color:#ff6961">Closed</span>'|safe
                }.get(ticket.get('status')) }}
              </td>
              <td>
                {% if ticket.get('price') <= 5 %}
                  {% set value = '0f0' %}
                {% elif ticket.get('price') <= 20 %}
                  {% set value = 'cc0' %}
                {% else %}
                  {% set value = 'ff6961' %}
                {% endif %}
                <span style="color:#{{ value }}">{{ '$%.2f'|format(ticket.get('price')) }}</span>
              </td>
              <td>
                <form
                  action="/requests/{{ ticket.get('id') }}/vote_up"
                  method="post"
                >
                  <span>{{ ticket.get('votes') }} {{ 'vote' if ticket.get('votes') == 1 else 'votes' }}</span>
                  <label class="a" style="cursor:pointer" for="voteup-{{ ticket.get('id') }}">(+)</label>
                  <button type="submit" id="voteup-{{ ticket.get('id') }}" style="display:none"></button>
                </form>
              </td>
              <td>
                {# TODO: Reimplement push requests
                {% if ticket.get('status') == 'open' %}
                  <a href="javascript:subscribeToRequestStatus('{{ ticket.get('id') }}');">Subscribe</a><br>
                  <small class="subtitle">May not work on older browsers or privacy-centric forks.</small>
                {% else %}
                  <span class="subtitle">Request completed.</span>
                {% endif %}
                #}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <div class="paginator" id="paginator-bottom">
      {% include 'components/paginator.html' %}
    </div>
  </div>
</section>
{% endblock %}
