{% extends 'components/shell.html' %}
{% block content %}
  <div class="site-section site-section--updated page" id="page">
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
    {% if results|length == 0 %}
      <div class="no-posts">
        <p class="subtitle">No artists found for your query.</p>
      </div>
    {% else %}
      <table class="search-results" width="100%">
        <thead>
          <tr>
            <th width="50px"></th>
            <th>Name</th>
            <th>Service</th>
            <th>Updated</th>
          </tr>
        </thead>
        <tbody>
          {% for artist in results %}
            <tr class="artist-row">
              <td>
                <a href="/{{ artist['service'] }}/{{ 'server' if artist['service'] == 'discord' else 'user' }}/{{ artist['id'] }}">
                  <div class="user-icon" style="background-image: url('/icons/{{ artist['service'] }}/{{ artist['id'] }}');"></div>
                </a>
              </td>
              <td>
                <a href="/{{ artist['service'] }}/{{ 'server' if artist['service'] == 'discord' else 'user' }}/{{ artist['id'] }}">{{ artist['name'] }}</a>
              </td>
              <td>
                {{ {
                  'patreon': 'Patreon',
                  'fanbox': 'Pixiv Fanbox',
                  'subscribestar': 'SubscribeStar',
                  'gumroad': 'Gumroad',
                  'discord': 'Discord',
                  'dlsite': 'DLsite',
                  'fantia': 'Fantia'
                }.get(artist['service'], '') }}
              </td>
              <td>
                {{ artist['updated'] }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if results|length %}
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  </div>
  {% if results|length %}
    <script src="https://unpkg.com/unfetch@4.1.0/polyfill/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
  {% endif %}
{% endblock %}
