{% extends 'components/shell.html' %}

{% from 'components/card_list.html' import card_list %}
{% from 'components/cards.html' import user_card, user_card_header %}

{% block content %}
  <div class="site-section site-section--updated page" id="page">
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
    {% call card_list('table') %}
      {{ user_card_header(is_date=true) }}
      {% for user in results %}
        {{ user_card(user, is_date=true) }}
      {% else %}
        <p class="po-posts subtitle">
          No artists found for your query.
        </p>
      {% endfor %}
    {% endcall %}
    {% if results|length %}
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  </div>
{% endblock %}
