{% extends 'components/shell.html' %}

{% from "components/loading_icon.html" import loading_icon %}
{% from 'components/card_list.html' import card_list %}
{% from 'components/cards.html' import post_card %}

{% set paysite = g.paysites[props.service] %}
{% set paysite_icons = {
  'patreon': '/static/patreon.svg',
  'fanbox': '/static/fanbox.svg',
  'gumroad': '/static/gumroad.svg',
  'subscribestar': '/static/subscribestar.png',
  'dlsite': '/static/dlsite.png',
  'fantia': '/static/fantia.png',
} %}

{% block meta %}
  <meta name="id" content="{{ props.id }}">
  <meta name="service" content="{{ props.service }}">
  <link rel="canonical" href="{{ g.canonical_url }}">
{% endblock meta %}

{% block opengraph %}
  <meta property="og:title" content="{{ props.name ~ ' | ' ~ paysite.title ~ ' on Kemono' }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Kemono">
  <meta property="og:image" content="{{ g.origin }}/icons/{{ props.service }}/{{ props.id }}">
  <meta property="og:url" content="{{ g.canonical_url }}">
{% endblock opengraph %}

{% block content %}
<section class="site-section site-section--user">
  <header 
    class="user-header" 
    itemscope
    itemtype="https://schema.org/Person"
  >
    <div class="user-header__background">
      <img 
        src="/banners/{{ props.service }}/{{ props.id }}" 
      >
    </div>
    <div 
      class="user-header__avatar" 
    >
      <a href="/{{ props.service }}/user/{{ props.id }}">
        <img 
          src="/icons/{{ props.service }}/{{ props.id }}" 
        >
      </a>
    </div>

    <div class="user-header__info">
      <h1 
        id="user-header__info-top"
        class="user-header__name" 
      >
        <a 
          class="user-header__profile"
          target="_blank" 
          rel="noreferrer"
          href="{{ props.display_data.href }}"
          itemprop="url" 
        > 
          <span class="user-header__profile-image">
            <img 
            src="{{ paysite_icons[props.service] }}" 
          >
          </span>
          <span itemprop="name">{{ props.name }}</span>
        </a>
      </h1>
      
      <div class="user-header__actions">
        <a
          class="user-header__upload"
          href="/posts/upload?service={{ props.service }}&user={{ props.id }}"
        > 
          <span>
            <img 
              src="/static/upload.svg" 
            >
          </span>
          <span>Upload file</span>
        </a>
      </div>
    </div>
  </header>

  <div class="paginator" id="paginator-top">
    {% include 'components/paginator.html' %}
    <form
      action="{{ request.path }}"
      method="GET"
      enctype="application/x-www-form-urlencoded"
    >
      <input
        type="text"
        name="q"
        id="q"
        autocomplete="off"
        value="{{ request.args.get('q') if request.args.get('q') }}"
        placeholder="search for posts..."
        class="search-input"
      >
      <input type="submit" style="display: none;">
    </form>
  </div>

  {% call card_list() %}
    {% for post in results %}
      {{ post_card(post) }}
    {% else %}
      <h2 class="subtitle">Nobody here but us chickens!</h1>
      <p class="subtitle">
        There are either no more posts beyond this page, or this user hasn't been imported.
      </p>
    {% endfor %}
  {% endcall %}

  <div class="paginator" id="paginator-bottom">
    {% include 'components/paginator.html' %}
  </div>

</section>
{% endblock %}

{% block components %}
  <button class="user-header__favourite" type="button">
    <span class="user-header__fav-icon">☆</span>
    <span class="user-header__fav-text">Favorite</span>
  </button>
  {{ loading_icon() }}
{% endblock components %}
