html {
  background: #1d1f21
}

.flash_messages {
  background-color: #3a3d43;
  border-radius: 0.25rem;
  padding: 10px;
  text-align: center;
}

.sidebar h1 {
  font-size: 1.16667em;
}

.main {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

textarea {
  width: calc(100% - 2px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 3rem;
  box-shadow: inset 0 1px 3px #1f2024;
  background:#3a3d43;
  border: none;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a {
  color: #87CEFA;
}

.a {
  color: #87CEFA;
  font-family: Verdana, sans-serif;
}

select * {
  color: #000;
}

h1, h2, h3 {
  font-weight: normal;
}

* {
  font-family: Helvetica, sans-serif;
  color: #fff;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: Helvetica, sans-serif;
}

.subtitle {
  color: #737373;
}

.content-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.content-grid * {
  max-width: 200px;
  max-height: 200px;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.no-posts {
  text-align: center;
}

.upload-button {
  padding: 30px;
  margin-top: 5px;
  border-radius: 0.25rem;
  background: #3a3d43;
  font-size: 24px;
  text-align: center;
}

.nav-links ul {
  list-style: none;
  margin: 0.5rem;
  padding: 0;
}

.nav-links li {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
}

.activity-view {
  padding: 5px;
  margin: 0.5rem;
  border-radius: 0.25rem;
  background: #3a3d43;
  display: flex;
}

.activity-view-avatar {
  border-radius: 0.25rem;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
}

.activity-view-p {
  margin-left: 5px;
}

.activity-view-name {
  font-weight: bold;
  font-size: 20px;
}

.activity-view-update {
  display: block;
}

.jumbo {
  padding: 10px;
  margin: 0.5rem;
  border-radius: 0.25rem;
  background: #3a3d43;
}

.jumbo p {
  margin: 0;
}

.jumbo-user {
  text-align: center;
}

.jumbo-user-avatar {
  margin: 0 auto;
  border-radius: 0.25rem;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
}

.favorites-opts select {
  margin-left: 0.5rem;
}

.opts {
  float: right;
  position: relative;
}

.opts select {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.flag {
  color: #ff6961;
  cursor: pointer;
}

.flag-disabled {
  color: #737373;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.card {
  height: 500px;
  background: #3a3d43;
  border-radius: 2px;
  margin: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position: relative;
}

.text-card {
  height: 500px;
  background: #3a3d43;
  border-radius: 2px;
  margin: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position: relative;
  overflow-y: auto;
}

.card-image {
  overflow: hidden;
  position: relative;
  max-height: 310px;
}

.card-reveal {
  border-radius: 2px;
  position: absolute;
  background-color: #3a3d43;
  width: 100%;
  overflow-y: auto;
  top: 0;
  height: 100%;
  z-index: 1;
  display: none;
}

.card-reveal-content {
  padding: 20px;
}

.card-reveal-content img {
  max-width: 100%;
}

.card-content {
  overflow: hidden;
  padding: 20px;
  border-radius: 0 0 2px 2px;
  height: 170px;
}

.card-title {
  font-size: 24px;
  font-weight: 300;
}

.card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 20px;
}

.card-action a {
  margin-right: 10px;
}

.card-image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.user-header {
  border-radius: 10px;
  background-size: 100% auto;
  background-position: center;
  padding: 10px;
  display: flex;
}

.user-header-avatar {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
}

.user-header-upload {
  background-image: url(/static/upload.svg);
  display: inline-block;
  margin-left: 10px;
  width: 36px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.user-header-blocked {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  text-shadow: rgb(0, 0, 0) 0px 0px 3px, rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px 1px 0px;
  user-select: none;
}

.user-header-favorite {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  text-shadow: rgb(0, 0, 0) 0px 0px 3px, rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px 1px 0px;
  user-select: none;
}

.user-header-info {
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0,0,0,.7);
  color: #fff;
}

.user-header-info-top {
  margin-top: 15px;
  text-align: center;
}

.user-header-info-patreon {
  background-image: url(/static/patreon.svg);
  display: inline-block;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.user-header-info-fanbox {
  background-image: url(/static/fanbox.svg);
  display: inline-block;
  margin-left: 10px;
  width: 50px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.user-header-info-gumroad {
  background-image: url(/static/gumroad.svg);
  display: inline-block;
  margin-left: 10px;
  width: 25px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
}

.user-header-info-subscribestar {
  background-image: url(/static/subscribestar.png);
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.user-header-info-dlsite {
  background-image: url(/static/dlsite.png);
  display: inline-block;
  margin-left: 10px;
  width: 50px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.user-header-info-title {
  font-size: 32px;
  font-weight: 700;
}

/* thumbnails */
.thumb-standard { border: 1px solid #000 }
.thumb-child { border: 1px solid #cc0 }
.thumb-parent { border: 1px solid #0f0 }
.thumb-shared { border: 1px solid #ff7f00 }

.thumb-link {
  margin: 2px;
}

.thumb {
  width: 200px;
  height: 200px;
}

.thumb:hover .thumb-with-image-overlay {
  display: block;
}

.thumb-with-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/static/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.thumb-with-image-overlay {
  display: none;
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.thumb-with-text {
  overflow-y: auto;
  text-align: center;
}

.thumb-with-text * {
  padding: 2px;
}

.thumb * {
  margin: auto;
}

.thumb h3, .thumb p {
  color: #fff;
}

/* sidebar */

.sidebar {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  width: 195px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

select {
  background-image: linear-gradient(#282a2e, #111111);
  border-color: #111;
  border-radius: 5px;
  text-align-last: center;
}

select::-ms-expand {
  color: #000;
}

input[type="text"], 
input[type="password"], 
input[type="number"] {
  border-radius: 5px;
  box-shadow: inset 0 1px 3px #1f2024;
  background:#3a3d43;
  color: #fff;
  text-align: center;
  border: 0;
}

/* headers */

.subheader {
  padding: 5px 20px;
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.subheader:empty {
  display:none;
}

.sep {
  height: 0.5em;
}

.subheader li {
  color: #fff;
  display: inline;
  list-style-type: none;
  margin: 0 0.5em 0 0;
}

.subheader li a:visited, .subheader li a:link {
  color: #fff;
}

.header {
  padding: 5px 20px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.header li {
  color: #fff;
  display: inline;
  list-style-type: none;
  margin: 0 0.5em 0 0;
}

.header li a:visited, .header li a:link {
  color: #fff;
}

.current-page {
  background-image: linear-gradient(#444649, #282a2e);
  padding: 6px 10px 6px;
  font-weight: 700;
}

/* search */

.results li {
  display: block;
  list-style-type: none;
  line-height: 1.8em;
}

.results li a {
  text-decoration: none;
  line-height: 1.4em;
  color: #87CEFA;
}

.page img {
  max-width: 100%;
}

/* pagination */
.paginator {
  text-align: center;
}

.paginator menu {
  padding: 0;
  margin: 0;
}

menu li {
  margin: 0;
  padding: 0 .2em;
  list-style-type: none;
  display: inline;
}

/* importer */

.importer-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.importer-form * {
  display: block;
}

input[type="submit"] {
  border-radius: 5px;
  min-height: 24px;
  background-image: linear-gradient(#282a2e, #111111);
  text-align: center;
  border: 0;
}

/* posts */

.embed-view {
  border: 1px solid #111;
  padding: 2px;
}

/* media queries */
@media only screen and (max-width : 568px) {
  .thumb {
    width: 160px;
    height: 160px;
  }
  .content-grid * {
    max-width: 160px;
    max-height: 160px;
  }
  .views {
    flex-direction: column;
  }
  .sidebar {
    width: auto;
  }
  #paginator-bottom {
    margin-bottom: env(safe-area-inset-bottom);
  }
}

/* search forms */

.search-form {
  display: table;
  padding: .5rem;
  margin-left: 5px;
  background-color: #282a2e;
  margin: 0px auto 8px auto;
}

.search-form > div {
  display: table-row;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.search-form small {
  line-height: normal;
}

.search-form label, .search-form input {
  display: table-cell;
  padding-right: 1em;
  white-space: nowrap;
  text-align: left;
}

.search-form label {
  text-align: right;
  font-weight: 700;
}

.search-form small {
  display: block;
}

/* search results */
.search-results tbody td {
  height: 2.25em;
  padding-right: 10px;
}

thead th {
  font-weight: 700;
  text-align: left;
  padding-right: 8px;
}

.user-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem;
}

/* Info pages */

.info {
  width: 450px;
  text-align: center;
  margin: 5px auto auto auto;
  border: 1px solid #111;
  background: #282a2e;
  padding: 2px 5px 2px 5px;
}

.info * {
  font-size: 10pt;
}

.info .logs {
  background-color:#3a3d43;
  font-size: 8pt;
}

.ad-container {
  text-align: center;
}

.ad-container * {
  max-width: 100%;
}

/*  BEM styles */

/* .site-section {} */

.site-section__register-cta {
  text-align: center;
}
.site-section__heading {
  text-align: center;
}

.form {
  max-width: 360px;
  padding: 1em;
  margin: 0 auto;
}

.form__section {
  padding-bottom: 1em;
}

.form__section:last-child {
  padding-bottom: 0;
}

.form__label {
  text-align: right;
}

.form__input,
.form__button {
  box-sizing: border-box;
  min-height: 44px;
  min-width: 44px;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  border-radius: 5px;
  padding: 0.5em;
}

.form__input {
  background: hsl(224, 7%, 32%);
  color: hsl(0, 0%, 100%);
  border: 0;
}

/* quick hack to overwrite attribute rules */
.form__input.form__input--text,
.form__input.form__input--password {
  text-align: left;
}

.form__button {
  cursor: pointer;
}

.form__button--submit {
  text-align: center;
  background-image: linear-gradient(
    hsl(220, 7%, 17%), 
    hsl(0, 0%, 7%)
  );
  border: 0;
}