.views {
    margin-left: 10px;
}

input[type="text"], input[type="password"] {
    text-align: left;
    border-radius: 5px;
    background: #4c4f57;
    color: #fff;
    border: 0;
}

form.register {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}

form > label {
    text-align: right;
}

form > label:after {
    content: ":";
}

.register-cta {
    margin-top: 10px;
}
