{% extends 'components/shell.html' %}

{% from 'components/cards/dm.html' import unapproved_dm_card %}

{% block title %}
  <title>Approve DMs for import to Kemono.</title>
{% endblock title %}

{% block meta %}
  <meta name="account_id" content="{{ props.account_id }}">
{% endblock meta %}

{% block content %}
<section
  class="site-section site-section--importer-dms"
>
  {% include "components/importer_states.html" %}
  <header class="site-section__header">
    <h1 class="site-section__heading">
      DM Review for {{ props.import_id }}
    </h1>
  </header>
  {% if props.dms %}
    <form
      id="dm-approval"
      class="form form--bigger dms"
      method="POST"
    >
      {% for dm in props.dms %}
        <div class="form__section dms__dm">
          <input
            id="{{ dm.id }}"
            class="dms__check"
            type="checkbox"
            name="approved_ids"
            value="{{ dm.id }}"
          >
          <div class="dms__content">
            {{ unapproved_dm_card(dm, class='dms__card') }}
            <label class="dms__approve" for="{{ dm.id }}">
              Approve
            </label>
          </div>
        </div>
      {% endfor %}

      <div class="form__section">
        <button
          type="submit"
          class="form__button form__button--submit"
        >
          Submit approved DMs.
        </button>
      </div>
    </form>
  {% else %}
    <p class="no-dms">
      There are no DMs waiting for approval.
    </p>
  {% endif %}
</section>
{% endblock %}
