{% extends 'development/shell.html' %}

{% import 'components/site.html' as site %}
{% from 'development/components/nav.html' import dev_nav %}

{# ('/development/test-entries', 'Test entries'), #}
{% set nav_items = [
  ('/development/design', 'Design'),
] %}

{% block content %}
{% call site.section('dev-only', 'Kemono dev') %}
  {{ dev_nav(nav_items) }}
  <form
    id="test-entries"
    class="form"
    action="/development/test-entries/seeded"
    method="POST"
    target="_blank"
  >
    <div class="form__section">
      <p>
        Press "Activate" to create a seeded database.
      </p>
    </div>
    <div class="form__section">
      <button class="form__button form__button--submit" type="submit">
        Activate
      </button>
    </div>
  </form>

  <form
    id="test-entries"
    class="form"
    action="/development/test-entries/random"
    method="POST"
    target="_blank"
  >
    <div class="form__section">
      <p>
        Press "Activate" to create a random database.
      </p>
    </div>
    <div class="form__section">
      <button class="form__button form__button--submit" type="submit">
        Activate
      </button>
    </div>
  </form>
{% endcall %}
{% endblock content %}
