.info {
  width: 600px;
  text-align: center;
  margin: 5px auto auto auto;
  border: 1px solid #111;
  background: #282a2e;
  padding: 2px 5px 2px 5px;
  max-height: 600px;
  overflow-y: scroll;
}

.info * {
  font-size: 10pt;
}

.info .logs {
  background-color:#3a3d43;
  font-size: 8pt;
}
