@use "../../../css/variables" as *;

.navigation {
  &__list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: $size-small;
    list-style: none;
    padding: $size-small;
    margin: 0;

    &--ordered {
      list-style-type: decimal-leading-zero;
      padding-left: $size-normal;
    }
  }

  &__item {
  }

  &__link {
  }
}
