{% from 'components/meta/attributes.html' import attributes %}
{% from 'components/links.html' import local_link %}

{% macro local_nav(items) %}
  <nav {{ attributes("navigation navigation--local", **kwargs) }}>
    {% if items %}
      <p>Table of contents:</p>
      {{ local_list(items) }}
    {% else %}
      {{ caller() if caller }}
    {% endif %}
  </nav>
{% endmacro %}

{% macro local_list(items) %}
  <ul {{ attributes("navigation__list navigation__list--local", **kwargs) }}>
    {% if items %}
      {% for id, text in items %}
        {{ local_item(id, text) }}
      {% endfor %}
    {% else %}
      {{ caller() if caller }}
    {% endif %}
  </ul>
{% endmacro %}

{% macro local_list_ordered() %}
  <ol {{ attributes("navigation__list navigation__list--ordered navigation__list--local", **kwargs) }}>{{ caller() }}</ol>
{% endmacro %}

{% macro local_item(id, text) %}
  <li {{ attributes("navigation__item navigation__item--local", **kwargs) }}>{{ local_link(id, text) }}</li>
{% endmacro %}
