{% from 'components/image_link.html' import image_link %}

<div id="vertical-views" class="vertical-views">
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
    <table class="search-results" width="100%">
      <thead>
        <tr>
          <th width="50px">Icon</th>
          <th>Name</th>
          <th>Service</th>
        </tr>
      </thead>
      <tbody>  
        {% for artist in results %}
          {% set artist_link = g.freesites.kemono.user.profile(artist.service, artist.id) %}
          {% set artist_icon = g.freesites.kemono.user.icon(artist.service, artist.id) %}

          <tr class="artist-row">
            <td>
              {{ image_link(
                url=artist_link,
                src=artist_icon,
                class_name='user-icon'
              ) }}
            </td>
            <td>
              <a href="{{ artist_link }}">{{ artist.name }}</a>
            </td>
            <td>
              {{ g.paysites[artist.service].title }}
            </td>

            {% if artist.count %}
              <td style="display:none">
                  {{ artist.count }}
              </td>
            {% endif %}
          </tr>
        {% else  %}
          <tr>
            <td></td>
            <td class="subtitle">No artists found for your query.</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if results|length %}
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
      </div>
    {% endif %}
  </div>
</div>
