@use "../../css/variables" as *;

.post-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 13em;
  background-color: var(--colour1-tertiary);
  border-radius: 10px;
  border: $size-thin solid transparent;
  overflow: hidden;
  transition-duration: var(--duration-global);
  transition-property: transform, border-color;

  &--preview {
    // & .post-card__body {
    //   flex: 1 0 13em;
    // }
  }

  &--fav {
    border-color: var(--favourite-colour2-primary);
  }

  &:hover,
  &:focus-within {
    transform: scale(1.05);

    & .post-card__image-container {
      visibility: hidden;
      opacity: 0;
    }
  }

  & > * {
    flex: 0 1 auto;
    padding: $size-small;
  }

  &__header {
    transition-property: background-color;
    &--fav {
      background-color: var(--favourite-colour2-primary);

      & .post-card__user {
        display: block;
      }
    }
  }
  
  &__heading {}

  &__user {
    display: none;
  }

  &__name {}

  &__body {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    
    // word-break: break-all;
    // text-overflow: ellipsis;
    // line-height: 1.5;
    background-color: var(--colour1-tertiary);

    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   left: 0;
    //   height: 2em;
    //   background: linear-gradient(
    //     to bottom,
    //     hsla(0, 0%, 0%, 0), 
    //     var(--colour1-tertiary)
    //   );
    // }
  }

  &__image-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: var(--colour1-tertiary);
    padding: 0;
    transition-property: opacity, visibility;
    transition-duration: var(--duration-global);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
