{# TODO: complete the macros #}
{% macro fancy_link(url, text=url, class_name=none, is_noop=true) %}
  <a
    class="fancy-link {{ class_name if class_name }}"
    {{ 'target="_blank"' if is_noop }}
    {{ 'rel="noopener noreferrer"' if is_noop }}
    href="{{ url }}" 
  >
    {% if not caller %}
      {{ text }}
    {% else %}
      {{ caller() }}
    {% endif %}
  </a>
{% endmacro %}

{% macro download_link(url, text=url) %}
  <a 
    class="fancy-link fancy-link--download" 
    href="{{ url }}"
    download
  >
    {% if not caller %}
      {{ text }}
    {% else %}
      {{ caller() }}
    {% endif %}
  </a>
{% endmacro %}

{% macro kemono_link(url, text=url, class_name=none) %}
  <a
    class="fancy-link fancy-link--kemono {{ class_name if class_name }}" 
    href="{{ url }}"
    target="_self"
  >
    {% if not caller %}
      {{ text }}
    {% else %}
      {{ caller() }}
    {% endif %}
  </a>
{% endmacro %}

{% macro local_link(id, text=id, class_name=none) %}
  <a
    class="fancy-link fancy-link--local {{ class_name if class_name }}" 
    href="#{{ id }}"
  >
    {% if not caller %}
      {{ text }}
    {% else %}
      {{ caller() }}
    {% endif %}
  </a>
{% endmacro %}
