{% if post.shared_file %}
  <p class="subtitle">This post is user-shared, and cannot be verified for integrity. Exercise caution.</p>
{% endif %}
{% if post.service == 'dlsite' and post.attachments|length > 1 %}
  <p class="subtitle">
    This DLsite post was received as a split set of multiple files due to file size. Download all the files, then open the .exe file to compile them into a single one.
  </p>
{% endif %}
{# title hidden with subscribestar posts to prevent redundancy #}
{% if post.service != 'subscribestar' %}
  {% if post_link_in_title %}
    <a href="/{{ post['service'] }}/user/{{ post['user'] }}/post/{{ post['id'] }}" target="_blank"><label class="card-title">{{ post.title }}</label></a>
  {% else %}
    <label for="toggle-{{ post.id }}" class="card-title">{{ post.title }}</label>
  {% endif %}
{% endif %}
{% if post.published %}
  <label for="toggle-{{ post.id }}" class="subtitle">{{ post.published }}</label>
{% endif %}
{% if props.flagged %}
  <span class="flag-disabled" title="This post has been flagged.">⚑</span>
{% else %}
  <span class="flag" title="Flag post" id="flag-button" data-service="{{ post.service }}" data-user="{{ post.user }}" data-post="{{ post.id }}">⚑</span>
{% endif %}
{% if props.favorited %}
  <a href="javascript:unfavorite_post('{{ post.service }}', '{{ post.user }}', '{{ post.id }}');"><span style="color: #FFD700;">★</span></a>
{% else %}
  <a href="javascript:favorite_post('{{ post.service }}', '{{ post.user }}', '{{ post.id }}');">☆</a>
{% endif %}
<br>
{% for attachment in attachments %}
  <a href="{{ attachment.path }}" target="_blank">
    Download {{ attachment.name }}
  </a>
  <br>
{% endfor %}
<p>
  {% if post.service == "subscribestar" and after_kitsune %}
    <div>
  {% endif %}
  {{ post.content|safe }}
</p>
{% for preview in previews %}
  {% if preview.type == 'thumbnail' %}
    <a class="fileThumb" href="{{ preview.path }}">
      <img
        data-src="/thumbnail{{ preview.path }}"
        src="/thumbnail{{ preview.path }}"
        loading="lazy"
      >
    </a>
    <br>
  {% elif preview.type == 'embed' %}
    <a href="{{ preview.url }}" target="_blank">
      <div class="embed-view">
        {{ '<h3>'|safe ~ preview.subject ~ '</h3>'|safe if preview.subject else '<h3 class="subtitle">(No title)</h3>'|safe }}
        {{ '<p>'|safe ~ preview.description ~ '</p>'|safe if preview.description }}
      </div>
    </a>
    <br>
  {% endif %}
{% endfor %}