{% set href = '/' ~ post['service'] ~ '/user/' ~ post['user'] ~ '/post/' ~ post['id'] %}

{% with %}
  {% if post['file'].path and post['file'].path|lower|regex_match("\.(gif|jpe?g|png|webp)$") %}
    {% set src = post['file'].path %}
  {% endif %}
  {% set title = post['title'] %}
  {% set content = post['content']|striptags %}
  {% set attachments = post['attachments'] %}
  {% set published = post['published'] %}
  {% set class = 'thumb-shared' if post['shared_file'] %}
  {% include 'components/thumb.html' %}
{% endwith %}