{# TODO: figure out nested macro calls #}
{% import 'components/navigation/global.html' as global %}
{% from 'components/navigation/sidebar.html' import nav_list, nav_item, nav_header, nav_entry %}
{% from 'components/loading_icon.html' import loading_icon %}
{% from 'components/timestamp.html' import timestamp %}
{% from 'components/tooltip.html' import tooltip %}
{% from 'components/links.html' import fancy_link, kemono_link, link_button %}
{% from 'components/tooltip.html' import register_message %}
{% from 'components/buttons.html' import button %}

<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <script>var page_data = {{ render_page_data()|safe }}</script>
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//beta.kemono.party/";
        _paq.push(['setTrackerUrl', u+'onomek']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'onomek.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//beta.kemono.party/onomek?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
      <title>
        {{ props.name ~ " | Kemono" if props.name else "Kemono" }}
      </title>
    {% endblock title %}
    <link rel="shortcut icon" href="/static/favicon.ico">

    {% block meta %}
      {% if props.service %}
        <meta name="service" content="{{ props.service }}">
      {% endif %}
      {% if props.id %}
        <meta name="id" content="{{ props.id }}">
      {% endif %}
      {% if props.importId %}
        <meta name="importId" content="{{ props.importId }}">
      {% endif %}
      {% if props.count %}
        <meta name="count" content="{{ props.count }}">
      {% endif %}
      {% if props.posts|length %}
        {% if props.posts[0].published %}
          <meta name="published" content="{{ props.posts[0].published }}"/>
        {% endif %}
        <meta name="added" content="{{ props.posts[0].added }}"/>
        <meta name="id" content="{{ props.posts[0].id }}"/>
      {% endif %}
    {% endblock meta %}

    {% block opengraph %}
      <meta property="og:title" content="{{ props.name ~ ' | Kemono' if props.name else 'Kemono' }}">
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="Kemono">
      <meta property="og:image" content="{{ g.origin }}/static/kemono-logo.svg">
      <meta property="og:image:width" content="150" />
      <meta property="og:image:height" content="150" />
      <meta property="og:url" content="{{ g.canonical_url }}">
    {% endblock opengraph %}

    {% block styles %}
      <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/base-min.css">
      <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-min.css">
      <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
    {% endblock styles %}

    {% block scripts %}
      {% if request.args.logged_in %}
        <script>
          localStorage.setItem('logged_in', 'yes');
        </script>
      {% endif %}
    {% endblock scripts %}

    {% block bundler_output %}
      {# quick hack until writing proper loader #}
      <% for (const css in htmlWebpackPlugin.files.css) { %>
        <% if (htmlWebpackPlugin.files.css[css].startsWith("/static/bundle/css/global")) { %>
          <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
        <% } %>
      <% } %>
      <% for (const chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" defer></script>
      <% } %>
      <% for (const scriptPath in htmlWebpackPlugin.files.js) { %>
        <% if (htmlWebpackPlugin.files.js[scriptPath].startsWith("/static/bundle/js/global") || htmlWebpackPlugin.files.js[scriptPath].startsWith("/static/bundle/js/runtime") || htmlWebpackPlugin.files.js[scriptPath].startsWith("/static/bundle/js/vendors")) { %>
          <script src="<%= htmlWebpackPlugin.files.js[scriptPath] %>" defer></script>
        <% } %>
      <% } %>
    {% endblock bundler_output %}

    {% block scripts_extra %}
    {% endblock scripts_extra %}
  </head>
  <body class="transition-preload">
    <div class="global-sidebar">
      {% call nav_entry(class_name='clickable-header-entry') %}
        {{ nav_item('/', 'Home', 'clickable-header home-button') }}
        <div class='close-sidebar' >
          <img src="/static/close.svg" />
        </div>
      {% endcall %}
      {{ nav_list([
        [
          { 'header': true, 'text': 'Artists' },
          { 'text': 'Search', 'link': '/artists' },
          { 'text': 'Recent', 'link': '/artists/updated' },
          { 'text': 'Random', 'link': '/artists/random' }
        ],
        [
          { 'header': true, 'text': 'Posts' },
          { 'text': 'Search', 'link': '/posts' },
          { 'text': 'DMs', 'link': '/dms' },
          { 'text': 'Random', 'link': '/posts/random' }
        ],
        [
          { 'header': true, 'text': 'Importer' },
          { 'text': 'Import', 'link': '/importer' },
          { 'text': 'FAQ', 'link': '/importer/tutorial' }
        ]
      ]) }}
      {{ nav_entry([
        { 'header': true, 'text': 'Account', 'link': '/account', 'class_name': 'account-header' },
        { 'text': 'Register', 'link': '/account/register', 'class_name': 'register' },
        { 'text': 'Favorites', 'link': '/favorites', 'class_name': 'favorites hidden' },
        { 'text': 'Login', 'link': '/account/login', 'class_name': 'login' }
      ], 'account') }}
      {{ nav_entry(g.custom_links, 'stuck-bottom') }}
      {# {% call nav_entry(class_name='stuck-bottom') %}
        {{ nav_header('Community') }}
        {{ nav_item('/support', 'Donate', 'donate') }}
        {{ nav_item('https://chan.kemono.party/', 'Partychan', 'chan', is_external=true) }}
        {{ nav_item('https://t.me/kemonowelcome', 'Telegram', 'tg', is_external=true) }}
        {{ nav_item('https://theporndude.com/', 'ThePornDude', 'tpd', is_external=true) }}
      {% endcall %} #}
    </div>

    <div class="content-wrapper">
      <div class="backdrop backdrop-hidden">
      </div>
      <div class="header">
        <div id="burgor">
          <img src="/static/menu.svg" />
        </div>
      </div>
      {% include 'components/flash_messages.html' %}

      <main class="main" id="main">
        {% block content %}
        {% endblock content %}
      </main>

      <footer class="global-footer">
        {% include 'components/footer.html' %}
        <div
          id="component-container"
          class="component-container"
          hidden
        >
          {{ fancy_link("") }}
          {{ register_message("") }}
          {{ timestamp("") }}
          {{ loading_icon() }}
          {% block components %}
          {% endblock components %}
        </div>
      </footer>
    </div>
    {# <div class="global-overlay">
    </div> #}
    {% call tooltip() %}
      <p class="tooltip__message">
      </p>
    {% endcall %}
  </body>
</html>
