{% from 'components/loading_icon.html' import loading_icon %}
{% from 'components/timestamp.html' import timestamp %}

<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <script>var page_data = {{ render_page_data()|safe }}</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
      <title>
        {{ props.name ~ " | Kemono" if props.name else "Kemono" }}
      </title>
    {% endblock title %}
    <link rel="shortcut icon" href="/static/favicon.ico">
    
    {% block meta %}
      {% if props.service %}
        <meta name="service" content="{{ props.service }}">
      {% endif %}
      {% if props.id %}
        <meta name="id" content="{{ props.id }}">
      {% endif %}
      {% if props.importId %}
        <meta name="importId" content="{{ props.importId }}">
      {% endif %}
      {% if props.count %}
        <meta name="count" content="{{ props.count }}">
      {% endif %}
      {% if props.posts|length %}
        {% if props.posts[0].published %}
          <meta name="published" content="{{ props.posts[0].published }}"/>
        {% endif %}
        <meta name="added" content="{{ props.posts[0].added }}"/>
        <meta name="id" content="{{ props.posts[0].id }}"/>
      {% endif %}
    {% endblock meta %}

    {% block opengraph %}
      <meta property="og:title" content="{{ props.name ~ ' | Kemono' if props.name else 'Kemono' }}">
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="Kemono">
      <meta property="og:image" content="{{ g.origin }}/static/kemono-logo.svg">
      <meta property="og:image:width" content="150" />
      <meta property="og:image:height" content="150" />
      <meta property="og:url" content="{{ g.canonical_url }}">
    {% endblock opengraph %}

    {% block styles %}
      <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/base-min.css">
      <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-min.css">
      <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">
    {% endblock styles %}

    {% block scripts %}
      {% if request.args.logged_in %}
        <script>
          localStorage.setItem('logged_in', 'yes');
        </script>
      {% endif %}
    {% endblock scripts %}

    {% block bundler_output %}
      {# quick hack until writing proper loader #}
      <%= htmlWebpackPlugin.tags.headTags %>
    {% endblock bundler_output %}

    {% block scripts_extra %}
    {% endblock scripts_extra %}
  </head>
  <body>
    <header class="global-header">
      {% include 'components/header.html' %}
      {% include 'components/subheader.html' %}
      {% include 'components/flash_messages.html' %}
    </header>

    <main class="main" id="main">
      {% block content %}
      {% endblock content %}
    </main>

    <footer class="global-footer">
      <div
        id="component-container" 
        class="component-container" 
        hidden
      >
        {{ timestamp("") }}
        {{ loading_icon() }}
        {% block components %}
        {% endblock components %}
      </div>
    </footer>
  </body>
</html>
