@use "../../css/variables" as *;

.site-section {
  max-width: calc(1440px + 2em);
  margin: 0 auto;

  &__header {
    padding: 0 0 $size-little;
  }

  &__heading {
    text-align: center;
    margin: 0;
  }

  &__subheading {
    margin: 0.5em 0;
  }

  &__register-cta {
    text-align: center;
  }

  &__article {
    background-color: var(--colour1-tertiary);
    border-radius: 10px;
    padding: $size-small;
    margin: $size-small 0;
  }
}
