.form {
  box-sizing: border-box;
  max-width: 360px;
  padding: 1em;
  margin: 0 auto;

  &--bigger {
    max-width: 480px;
  }

  &--wide {
    max-width: 720px;
  }

  &__section,
  &__fieldset {
    padding-bottom: 1em;
    transition-property: opacity, visibility;
    transition-duration: 250ms;

    &:last-child {
      padding-bottom: 0;
    }

    &--hidden {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      padding: 0;
      margin: 0;
    }
  }

  &__section {
    
    &--checkbox {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      gap: 1em;

      & .form__input {
        flex: 0 1;
        -webkit-appearance: none;
        appearance: none;
        padding: 0;
        margin: 0;

        &:before {
          position: absolute;
          top: 40%;
          left: 0.7em;
          content: "X";
          font-size: 2em;
          color: hsl(0, 100%, 60%);
          transform: translate(-50%, -50%);
        }

        &:checked:before {
          content: "\2713"; /* checkmark */
          color: hsl(120, 100%, 50%);
        }

        &:checked + .form__label {
          opacity: 1;
        }
      }

      & .form__label {
        flex: 1 1;
        opacity: 0.5;
        transition-property: opacity;
        transition-duration: 250ms;
      }
    }
  }

  &__input,
  &__button,
  &__select {
    box-sizing: border-box;
    min-height: 44px;
    min-width: 44px;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    border-radius: 5px;
    padding: 0.5em;
  }

  &__subtitle {
    display: block;
    line-height: normal;
    color: hsl(0, 0%, 45%);
  }
  
  &__label {
    cursor: pointer;
  }
  
  &__input {
    background: hsl(224, 7%, 32%);
    color: hsl(0, 0%, 100%);
    border: 0;
  }
  
  &__select {
    cursor: pointer;
  }
  
  &__option {
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 7%, 32%);
  }
  
  /* quick hack to overwrite attribute rules */
  &__input.form__input--text,
  &__input.form__input--password {
    text-align: left;
  }
  
  &__button {
    cursor: pointer;

    &--submit {
      text-align: center;
      color: var(--colour0-primary);
      background-image: linear-gradient(
        hsl(220, 7%, 17%), 
        hsl(0, 0%, 7%)
      );
      border: 0;
    }
  }
}
