{% from 'components/meta/attributes.html' import attributes %}
{# base parts of the card #}
{# these macros can only be called #}
{# TODO: remove references to `class_name` #}

{% macro card() %}
  <article {{ attributes('card', **kwargs) }}>{{ caller() }}</article>
{% endmacro %}

{% macro card_header() %}
  <header {{ attributes('card__header', **kwargs) }}>{{ caller() }}</header>
{% endmacro %}

{% macro card_body() %}
  <section {{ attributes('card__body', **kwargs) }}>{{ caller() }}</section>
{% endmacro %}

{% macro card_footer() %}
  <footer {{ attributes('card__footer', **kwargs) }}>{{ caller() }}</footer>
{% endmacro %}
