{# base parts of the card #}
{# these macros can only be called #}

{% macro card(class_name=none) %}
  <article class="card {{ class_name if class_name }}">
    {{ caller() }}
  </article>
{% endmacro %}

{% macro card_header(class_name=none) %}
  <header class="card__header {{ class_name if class_name }}">
    {{ caller() }}
  </header>
{% endmacro %}

{% macro card_body(class_name=none) %}
  <section class="card__body {{ class_name if class_name }}">
    {{ caller() }}
  </section>
{% endmacro %}

{% macro card_footer(class_name=none) %}
  <footer class="card__footer {{ class_name if class_name }}">
    {{ caller() }}
  </footer>
{% endmacro %}
