{% from 'components/cards/base.html' import card, card_header, card_body, card_footer %}
{% from 'components/timestamp.html' import timestamp %}
{% from 'components/links.html' import fancy_link %}
{% from 'components/fancy_image.html' import fancy_image, background_image %}

{% macro unapproved_dm_card(dm) %}
{% call card(
  class = "dm-card",
  data_id= dm.id,
  **kwargs
) %}
  {% set service = g.paysites[dm.service] %}
  {% set artist_link = service.user.profile(dm.user) %}
  {% set user_link = g.freesites.kemono.user.profile(dm.service, dm.user) %}
  {% call card_header() %}
    {% call fancy_link(
      url=artist_link,
      class_name='dms__user-link'
    ) %}
      <span>{{ dm.user }}</span> (<span>{{ service.title }}</span>)
    {% endcall %}
  {% endcall %}

  {# writing it like this so there wouldn't be whitespaces/newlines in the output #}
  {% call card_body(tabindex="0") %}<pre>{{ dm.content }}</pre>{% endcall %}

  {% call card_footer() %}
    Published: {{ timestamp(dm.published) }}
  {% endcall %}
{% endcall %}
{% endmacro %}

{% macro approved_dm_card(dm, artist=none) %}
{% call card(class="dm-card", **kwargs) %}
  {% set service = g.paysites[dm.service] %}
  {% set artist_link = service.user.profile(dm.user) %}
  {% set user_link = g.freesites.kemono.user.profile(dm.service, dm.user) %}

  {% call card_header() %}
    {% if artist %}
      {% call fancy_link(url=user_link, class_name="dm-card__icon") %}
        {{ fancy_image('/icons/' ~ artist.service ~ '/' ~ artist.id) }}
      {% endcall %}

      {% call fancy_link(url=user_link) %}
        <span class="dm-card__user">{{ artist.name }}</span>
      {% endcall %}
    {% else %}
      {% call fancy_link(
        url=user_link,
        class_name='dms__user-link'
      ) %}
        <span class="dm-card__user">{{ dm.user }}</span> <span class="dm-card__service">({{ service.title }})</span>
      {% endcall %}
    {% endif %}
  {% endcall %}

  {# writing it like this so there wouldn't be whitespaces/newlines in the output #}
  {% call card_body(class="dm-card__body", tabindex="0") %}<pre>{{ dm.content }}</pre>{% endcall %}

  {% call card_footer() %}
    Added: {{ timestamp(dm.added) }}
  {% endcall %}
{% endcall %}
{% endmacro %}
