{% from 'components/timestamp.html' import timestamp %}
{% from 'components/links.html' import fancy_link %}
{% from 'components/fancy_image.html' import fancy_image, background_image %}

{% macro dm_card(
  dm,
  is_private=false,
  is_global=false,
  artist={},
  class_name=none
) %}
  {% set service = g.paysites[dm.service] %}
  {% set artist_link = service.user.profile(dm.user) %}
  {% set user_link = g.freesites.kemono.user.profile(dm.service, dm.user) %}

  <article
    class="dm-card {{ class_name if class_name }}"
    {% if is_private %}
      data-id="{{ dm.id }}"
    {% endif %}
  >
    {% if is_global %}
      {% if artist %}
        <header class="dm-card__header">
          {% call fancy_link(url=user_link, class_name="dm-card__icon") %}
            {{ fancy_image('/icons/' ~ artist.service ~ '/' ~ artist.id) }}
          {% endcall %}

          {% call fancy_link(url=user_link) %}
            <span class="dm-card__user">{{ artist.name }}</span>
          {% endcall %}
        </header>
      {% else %}
        <header class="dm-card__header">
          {% call fancy_link(
            url=user_link,
            class_name='dms__user-link'
          ) %}
            <span class="dm-card__user">{{ dm.user }}</span> <span class="dm-card__service">({{ service.title }})</span>
          {% endcall %}
        </header>
      {% endif %}
    {% endif %}

    {% if is_private %}
      <header class="dm-card__header">
        {% call fancy_link(
          url=artist_link,
          class_name='dms__user-link'
        ) %}
          <span class="dm-card__user">{{ dm.user }}</span> <span class="dm-card__service">({{ service.title }})</span>
        {% endcall %}
      </header>
    {% endif %}

    <section class="dm-card__body" tabindex="0">
      {# writing it like this so there wouldn't be whitespaces/newlines in the output #}
      <div class="dm-card__content"><pre>{{ dm.content }}</pre></div>
    </section>

    <footer class="dm-card__footer">
      {% if is_private %}
        <div class="dm-card__published">
          Published: {{ timestamp(dm.published) }}
        </div>
      {% endif %}
      <div class="dm-card__added">
        Added: {{ timestamp(dm.added) }}
      </div>
    </footer>
  </article>
{% endmacro %}
