@use "../../../css/variables" as *;

.dm-card {
  // quick hack until the card business is figured out
  grid-template-columns: var(--card-size);

  &__icon {
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    width: 1em;
    height: 1em;
  }
  
  &__body {
    align-self: auto;
  }
}
