{% from 'components/timestamp.html' import timestamp %}
{% from 'components/buttons.html' import button %}
{% from 'components/links.html' import fancy_link %}

{% macro post_card(post) %}
  {% set src = post.file.path if post.file.path and post.file.path|lower|regex_match("\.(gif|jpe?g|jpe|png|webp)$") %}
  {% set post_link = g.freesites.kemono.post.link(post.service, post.user, post.id) %}
  <article
    class="post-card {{ 'post-card--preview' if src }}"
    data-id="{{ post.id }}"
    data-service="{{ post.service }}"
    data-user="{{ post.user }}"
  >
    <a href="{{ post_link }}">
      <header class="post-card__header">
        {{ post.title }}
      </header>
      {% if src %}
        <div class="post-card__image-container">
            <img
              class="post-card__image"
              src="/thumbnail/data{{ src|replace('https://kemono.party', '') }}"
            >
          </div>
      {% endif %}
      <footer class="post-card__footer">
        {% if post.published %}
            {{ timestamp(post.published) }}
        {% endif %}
        <div>
          {% if post.attachments|length %}
            {{ post.attachments|length }} {{ 'attachment' if post.attachments|length == 1 else 'attachments' }}
          {% else %}
            No attachments
          {% endif %}
        </div>
      </footer>
    </a>
  </article>
{% endmacro %}
