{% extends 'dev_only/shell.html' %}

{% block content %}
  <section class="site__section site__section--dev-only">
    <header class="site__header">
      <h1 class="site__heading">Kemono dev</h1>
    </header>
    <form 
      id="dev-activator"
      class="form"
      action="/dev-only" 
      method="POST"
    >
      <div class="form__section">
        <p>Press "Activate" to:</p>
        <ul>
          <li>Add test accounts</li>
        </ul> 
      </div>
      <div class="form__section">
        <button class="form__button form__button--submit" type="submit">
          Activate
        </button>
      </div>
    </form>
  </section>
{% endblock content %}
